<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Virtual Wallet - Fragments</title>
</head>
<body>



<header id="header" th:fragment="header">
    <div class="container">
        <div class="header-row">
            <div class="header-column justify-content-start">
                <!-- Logo
                ============================= -->
                <div class="logo"><a class="d-flex" href="/" title="Virtual Wallet"><img src="/images/logo.png"
                                                                                         alt="Virtual Wallet"/></a>
                </div>
                <!-- Logo end -->
                <!-- Collapse Button
                ============================== -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav">
                    <span></span> <span></span> <span></span></button>
                <!-- Collapse Button end -->

                <!-- Primary Navigation
                ============================== -->
                <nav class="primary-menu navbar navbar-expand-lg">
                    <div id="header-nav" class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <li><a sec:authorize="isAuthenticated()" th:href="@{/user/me/transactions}">Transactions</a></li>
                            <li><a sec:authorize="isAuthenticated()" th:href="@{/transactions/new}">Send Money</a></li>
                            <li><a sec:authorize="isAuthenticated()" th:href="@{/deposit}">Deposit</a></li>
                            <li><a sec:authorize="isAuthenticated()"
                                   th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') }"
                                   th:href="@{/admin}">Admin Panel</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- Primary Navigation end -->
            </div>
            <div class="header-column justify-content-end">
                <!-- Login & Signup Link
                ============================== -->
                <nav class="login-signup navbar navbar-expand">
                    <ul class="navbar-nav">
                        <li><a th:href="@{/login}" sec:authorize="isAnonymous()">Login</a></li>
                        <li class="align-items-center h-auto ml-sm-3"><a class="btn btn-primary d-none d-sm-block"
                                                                         th:href="@{/signup}"
                                                                         sec:authorize="isAnonymous()">Sign Up</a></li>
                        <li class="align-items-center h-auto ml-sm-3"><a class="btn btn-primary d-none d-sm-block"
                                                                         th:href="@{/user/me}"
                                                                         sec:authorize="isAuthenticated()">My Profile</a>
                        </li>
                        <li class="align-items-center h-auto ml-sm-3"><a class="btn btn-primary d-none d-sm-block"
                                                                         th:href="@{/logout}"
                                                                         sec:authorize="isAuthenticated()">Sign Out</a>
                        </li>
                    </ul>
                </nav>
                <!-- Login & Signup Link end -->
            </div>
        </div>
    </div>
</header>

<div class="bg-primary" th:fragment="transactionsMenu">
    <div class="container d-flex justify-content-center">
        <ul class="nav secondary-nav">
            <li class="nav-item"> <a class="nav-link" th:href="@{/user/me/transactions}">Wallets Transactions</a></li>
            <li class="nav-item"> <a class="nav-link" th:href="@{/user/me/card-transactions}">Cards Transactions</a></li>
        </ul>
    </div>
</div>


<div class="bg-primary" th:fragment="userMenu">
    <div class="container d-flex justify-content-center">
        <ul class="nav secondary-nav">
            <li class="nav-item"> <a class="nav-link" th:href="@{/user/me}">Account</a></li>
            <li class="nav-item"> <a class="nav-link" th:href="@{/user/me/cards}">Cards</a></li>
            <li class="nav-item"> <a class="nav-link" th:href="@{/user/me/wallets}">Wallets</a></li>
        </ul>
    </div>
</div>



<div class="bg-primary" th:fragment="adminMenu">
    <div class="container d-flex justify-content-center">
        <ul class="nav secondary-nav">
            <li class="nav-item"> <a class="nav-link" th:href="@{/admin/users}">Users</a></li>
            <li class="nav-item"> <a class="nav-link" th:href="@{/admin/transactions}">Wallets Transactions</a></li>
            <li class="nav-item"> <a class="nav-link" th:href="@{/admin/card-transactions}">Cards Transactions</a></li>
        </ul>
    </div>
</div>
</body>
</html>