/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/
.profile-pic {
    margin-left: -13px;
    width: 105px;
    height: 105px;
}

.error-message {
    color:red;
}

.success-message {
    color: limegreen;
}
