<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>BeerTag - Beers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700|Montserrat:400,700|Roboto&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">
    <link href="css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/style.css">


</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 text-center">
                    <a href="index" class="site-logo">
                        <img src="images/logo.png" alt="Image" class="img-fluid">
                    </a>
                </div>
                <a href="#" class="mx-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                        class="icon-menu h3"></span></a>
            </div>
        </div>


        <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

            <div class="container" >
                <div class="d-flex align-items-center">
                    <div class="col-lg-4">
                        <span th:text="${'Logged in as:'} + ' '"></span>

                        <span sec:authorize="!isAuthenticated()" th:text="'Guest'"></span>

                        <span sec:authorize="isAuthenticated()" sec:authentication="name"></span>
                    </div>

                    <div class="centerLoggedIn" sec:authorize="isAuthenticated()">
                        <div class="mx-auto">
                            <nav class="site-navigation position-relative text-left" role="navigation">
                                <ul class="site-menu main-menu js-clone-nav mx-auto d-none pl-0 d-lg-block border-none">

                                    <li class="active"><a th:href="@{/index}" class="nav-link text-left">Home</a></li>
                                    <li><a th:href="@{/beers}" class="nav-link text-left">Beers</a></li>
                                    <li><a th:href="@{/users}" sec:authorize="isAuthenticated()"
                                           class="nav-link text-left">Users</a></li>
                                    <li><a th:href="@{/login}" sec:authorize="!isAuthenticated()"
                                           class="nav-link text-left">Login</a></li>
                                    <li><a th:href="@{/register}" sec:authorize="!isAuthenticated()"
                                           class="nav-link text-left">Register</a></li>
                                    <li><a th:href="@{/logout}" sec:authorize="isAuthenticated()"
                                           class="nav-link text-left">Log Out</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="centerNotLoggedIn" sec:authorize="!isAuthenticated()">
                        <div class="mx-auto">
                            <nav class="site-navigation position-relative text-left" role="navigation">
                                <ul class="site-menu main-menu js-clone-nav mx-auto d-none pl-0 d-lg-block border-none">

                                    <li class="active"><a th:href="@{/index}" class="nav-link text-left">Home</a></li>
                                    <li><a th:href="@{/beers}" class="nav-link text-left">Beers</a></li>
                                    <li><a th:href="@{/users}" sec:authorize="isAuthenticated()"
                                           class="nav-link text-left">Users</a></li>
                                    <li><a th:href="@{/login}" sec:authorize="!isAuthenticated()"
                                           class="nav-link text-left">Login</a></li>
                                    <li><a th:href="@{/register}" sec:authorize="!isAuthenticated()"
                                           class="nav-link text-left">Register</a></li>
                                    <li><a th:href="@{/logout}" sec:authorize="isAuthenticated()"
                                           class="nav-link text-left">Log Out</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section-beers bg-light">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 section-title text-center mb-5">
                    <h1 class="d-block">Our Beers</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-light">
        <div class="container">
            <form th:method="get">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title mb-5">
                            <h2>Filter and Sort Beers</h2>
                        </div>

                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label th:for="beerNameField">Beer Name:&nbsp</label>
                                <input th:type="text" th:id="beerNameField" th:name="name"
                                       class="form-control form-control-lg">
                            </div>

                            <div class="col-md-4 form-group">
                                <label th:for="breweryInputField">Brewery:&nbsp</label>
                                <input th:type="hidden" th:for="breweryInputField">
                                <select class="form-control" th:id="breweryInputField" th:name="brewery">
                                    <option label=" "></option>
                                    <option th:each="b : ${breweries}"
                                            th:value="${b.getName()}"
                                            th:text="${b.getName()}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4 form-group">
                                <label th:for="countryInputField">Country:&nbsp</label>
                                <input th:type="hidden" th:for="countryInputField">
                                <select class="form-control" th:id="countryInputField" th:name="country">
                                    <option label=" "></option>
                                    <option th:each="c : ${countries}"
                                            th:value="${c.getName()}"
                                            th:text="${c.getName()}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4 form-group">
                                <label th:for="styleInputField">Style:&nbsp</label>
                                <input th:type="hidden" th:for="styleInputField">
                                <label>
                                    <select class="form-control" th:id="styleInputField" th:name="style">
                                        <option label=" "></option>
                                        <option th:each="s : ${styles}"
                                                th:value="${s.getName()}"
                                                th:text="${s.getName()}">
                                        </option>
                                    </select>
                                </label>
                            </div>

                            <div class="col-md-4 form-group">
                                <label th:for="sortByField">Sort By:&nbsp</label>
                                <input th:type="hidden" th:for="sortByField" class="form-control form-control-lg">
                                <label th:for="sortByField">
                                    <select class="form-control" th:id="sortByField" th:name="sortBy">
                                        <option th:value="name" th:text="Name"></option>
                                        <option th:value="abv" th:text="ABV"></option>
<!--                                        <option th:value="rating" th:text="Rating"></option>-->
                                    </select>
                                </label>
                            </div>
                            <div class="col-md-4 form-group">
                                <label th:for="sortTypeField">Sort Type:&nbsp</label>
                                <input th:type="hidden" th:for="sortTypeField" class="form-control form-control-lg">
                                <label th:for="sortTypeField">
                                    <select class="form-control" th:id="sortTypeField" th:name="sortType">
                                        <option th:value="ascending" th:text="Ascending"></option>
                                        <option th:value="descending" th:text="Descending"></option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <label th:for="searchButton">
                        <input th:type="submit" th:value="Search"
                               class="btn btn-primary py-3 px-5" th:id="searchButton">
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 mb-5 col-md-6" th:each="beer : ${beers}">
        <div class="wine_v_1 text-center pb-4">
            <div class="wine_v_1 text-center pb-4">
                <a th:href="@{/beer/{path}(path=${beer.getId()})}" class="thumbnail d-block mb-4">
                    <img th:src="${beer.getImageURL()}" alt="Image" class="img-fluid">
                </a>
                <div>
                    <h3 class="heading mb-1"><a th:href="@{/beer/{path}(path=${beer.getId()})}"
                                                th:text="${beer.getName()}"></a></h3>
                    <span class="price" th:text="${beer.getAbv()} + '%'">ABV</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-5 col-md-6">
        <div class="wine_v_1 text-center pb-4">
            <div style="border: 10px solid #bbd1e3;" class="wine_v_1 text-center pb-4">
                <a th:href="@{/beer/new}" class="thumbnail d-block mb-4">
                    <img src="/images/defaultBeerImg.png" alt="Image" class="img-fluid">
                </a>
                <div>
                    <h3 class="heading mb-1"><a th:href="@{/beer/new}"
                                                th:text="#{create.beer}"></a></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="copyright">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="icon-heart text-danger"
                                                                            aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .site-wrap -->


<!-- loader -->
<div id="loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#ff5e15"/>
    </svg>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/jquery.mb.YTPlayer.min.js"></script>


<script src="js/main.js"></script>

</body>

</html>