<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${'BeerTag - ' + beer.getName()}">Beer name</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700|Montserrat:400,700|Roboto&display=swap"
          rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/fonts/icomoon/style.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="/css/owl.carousel.min.css">
    <link type="text/css" rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link type="text/css" rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link type="text/css" rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link type="text/css" rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
    <link type="text/css" rel="stylesheet" href="/css/aos.css">
    <link type="text/css" rel="stylesheet" href="/css/jquery.mb.YTPlayer.min.css" media="all">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 text-center">
                    <a href="/" class="site-logo">
                        <img src="/images/logo.png" alt="Image" class="img-fluid">
                    </a>
                </div>
                <a href="#" class="mx-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                        class="icon-menu h3"></span></a>
            </div>
        </div>

        <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

            <div class="container">
                <div class="d-flex align-items-center">
                    <div class="col-lg-4">
                        <span th:text="${'Logged in as:'} + ' '"></span>

                        <span sec:authorize="!isAuthenticated()" th:text="'Guest'"></span>

                        <span sec:authorize="isAuthenticated()" sec:authentication="name"></span>
                    </div>

                    <div class="centerLoggedIn" sec:authorize="isAuthenticated()">
                        <div class="mx-auto">
                            <nav class="site-navigation position-relative text-left" role="navigation">
                                <ul class="site-menu main-menu js-clone-nav mx-auto d-none pl-0 d-lg-block border-none">

                                    <li class="active"><a th:href="@{/index}" class="nav-link text-left">Home</a></li>
                                    <li><a th:href="@{/beers}" class="nav-link text-left">Beers</a></li>
                                    <li><a th:href="@{/users}" sec:authorize="isAuthenticated()"
                                           class="nav-link text-left">Users</a></li>
                                    <li><a th:href="@{/login}" sec:authorize="!isAuthenticated()"
                                           class="nav-link text-left">Login</a></li>
                                    <li><a th:href="@{/register}" sec:authorize="!isAuthenticated()"
                                           class="nav-link text-left">Register</a></li>
                                    <li><a th:href="@{/logout}" sec:authorize="isAuthenticated()"
                                           class="nav-link text-left">Log Out</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="centerNotLoggedIn" sec:authorize="!isAuthenticated()">
                        <div class="mx-auto">
                            <nav class="site-navigation position-relative text-left" role="navigation">
                                <ul class="site-menu main-menu js-clone-nav mx-auto d-none pl-0 d-lg-block border-none">

                                    <li class="active"><a th:href="@{/index}" class="nav-link text-left">Home</a></li>
                                    <li><a th:href="@{/beers}" class="nav-link text-left">Beers</a></li>
                                    <li><a th:href="@{/users}" sec:authorize="isAuthenticated()"
                                           class="nav-link text-left">Users</a></li>
                                    <li><a th:href="@{/login}" sec:authorize="!isAuthenticated()"
                                           class="nav-link text-left">Login</a></li>
                                    <li><a th:href="@{/register}" sec:authorize="!isAuthenticated()"
                                           class="nav-link text-left">Register</a></li>
                                    <li><a th:href="@{/logout}" sec:authorize="isAuthenticated()"
                                           class="nav-link text-left">Log Out</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-primary py-5 page-title-wrap mt-5">
        <div class="container">
            <h1 th:text="${beer.getName()}"></h1>
        </div>
    </div>

    <div class="site-section mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="owl-carousel hero-slide owl-style">
                        <img th:src="${beer.getImageURL()}" th:alt="Image" class="img-fluid beer-image">
                    </div>
                </div>
                <div class="col-lg-5 ml-auto">
                    <div class="row">
                        <i th:if="${param.rated}" class="success" th:text="#{rated.successfully}">successfully rated
                            beer</i>
                        <i th:if="${param.alreadyWished}" class="error" th:text="#{wished.already}">already wished
                            beer or drank it already</i>
                        <i th:if="${param.successfullyWished}" class="success" th:text="#{wished.successfully}">successfully
                            wished
                            beer</i>
                        <i th:if="${param.alreadyDrank}" class="error" th:text="#{drank.already}">already drank
                            beer</i>
                        <i th:if="${param.successfullyDrank}" class="success" th:text="#{drank.successfully}">successfully
                            drank
                            beer</i>
                        <i th:if="${param.alreadyInOtherList}" class="error" th:text="#{already.in.list}"> you cannot
                            have a beer both in your wishlist and your dranklist simultaneously</i>
                    </div>
                    <div class="row">
                        <h2 class="text-primary">Beer Details</h2>
                        <p th:text="${beer.getDescription()}"></p>
                    </div>
                    <div class="row">
                        <h2 class="text-primary" th:text="#{alcohol.field} + ${beer.getAbv() + '%'}">Alcohol by
                            Volume</h2>
                    </div>
                    <div class="row">
                        <h2 class="text-primary" th:text="#{style.field} + ${beer.getBeerStyle().getName()}">Style</h2>
                    </div>
                    <div class="row">
                        <h2 class="text-primary" th:text="#{brewery.field} + ${beer.getBrewery().getName()}">
                            Brewery</h2>
                    </div>
                    <div class="row">
                        <h2 class="text-primary" th:text="#{country.field} + ${beer.getCountry().getName()}">
                            Country</h2>
                    </div>
                    <div class="row">
                        <h2 class="text-primary" th:text="#{average.rating.field} + ${averageRating}"
                            th:if="${averageRating} != 0"> Average Rating:&nbsp</h2>
                        <h2 class="text-primary" th:text="#{average.rating.field} + #{not.rated.yet.field.average}"
                            th:unless="${averageRating} != 0"> Average Rating:&nbsp</h2>
                    </div>

                    <h2 class="text-primary" th:text="#{tags.field}">Tags:&nbsp</h2>
                    <h3 th:if="${beer.getTags().isEmpty()}" th:text="#{tags.not.added}"></h3>
                    <u1 th:each="tag : ${beer.getTags()}">
                        <li class="text-primary" th:text="${tag.getName()}"></li>
                    </u1>

                    <div class="row">
                        <h2 class="text-primary" th:text="#{rating.field}+ ${rating}" sec:authorize="isAuthenticated()"
                            th:if="${rating} != 0"> Your
                            Rating:&nbsp</h2>
                        <h2 class="text-primary" th:text="#{your.rating.field}+ #{not.rated.yet.field}"
                            sec:authorize="isAuthenticated()"
                            th:unless="${rating} != 0"> Your
                            Rating:&nbsp</h2>
                    </div>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                    <div class="rating" sec:authorize="isAuthenticated()">
                        <form th:action="@{/beer/{path}(path=${beer.getId()})}" th:object="${ubr}" method="post">
                            <span><input th:field="*{rating}" type="submit" name="rating" id="str5" value="5"><label
                                    for="str5"></label></span>
                            <span><input th:field="*{rating}" type="submit" name="rating" id="str4" value="4"><label
                                    for="str4"></label></span>
                            <span><input th:field="*{rating}" type="submit" name="rating" id="str3" value="3"><label
                                    for="str3"></label></span>
                            <span><input th:field="*{rating}" type="submit" name="rating" id="str2" value="2"><label
                                    for="str2"></label></span>
                            <span><input th:field="*{rating}" type="submit" name="rating" id="str1" value="1"><label
                                    for="str1"></label></span>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <form sec:authorize="isAuthenticated()"
                              th:if="${#authentication.getName() == beer.getCreatedBy().getUserName() or #authorization.expression('hasRole(''ROLE_ADMIN'')') }"

                              th:action="@{/beer/{path}/update (path=${beer.getId()})}" method="get">
                            <div class="col-6">
                                <input type="submit" value="Update Beer"
                                       class="btn btn-primary py-3 px-5">
                            </div>
                        </form>
                    </div>

                    <div class="col-6">
                        <form sec:authorize="isAuthenticated()"
                              th:if="${#authentication.getName() == beer.getCreatedBy().getUserName() or #authorization.expression('hasRole(''ROLE_ADMIN'')') }"

                              th:action="@{/beer/{path}/delete (path=${beer.getId()})}" method="post">
                            <div class="col-6">
                                <input type="submit" value="Delete Beer"
                                       class="btn btn-danger py-3 px-5">
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <form sec:authorize="isAuthenticated()"
                          th:action="@{/beer/{path}/addToWishList (path=${beer.getId()})}" method="post">
                        <div class="col-6">
                            <input type="submit" value="Add to Wish List"
                                   class="btn btn-primary py-3 px-5">
                        </div>
                    </form>
                </div>

                <div>
                    <form sec:authorize="isAuthenticated()"
                          th:action="@{/beer/{path}/addToDrankList (path=${beer.getId()})}" method="post">
                        <div class="col-6">
                            <input type="submit" value="Add to Drank List"
                                   class="btn btn-primary py-3 px-5">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-beer">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="copyright">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This template is made with <i class="icon-heart text-danger"
                                                                                aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .site-wrap -->


    <!-- loader -->
    <div id="loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                    stroke="#ff5e15"/>
        </svg>
    </div>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/jquery.mb.YTPlayer.min.js"></script>


    <script src="/js/main.js"></script>

</body>

</html>