<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>BeerTag - Create New Beer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700|Montserrat:400,700|Roboto&display=swap"
          rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/fonts/icomoon/style.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="/css/owl.carousel.min.css">
    <link type="text/css" rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link type="text/css" rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link type="text/css" rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link type="text/css" rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
    <link type="text/css" rel="stylesheet" href="/css/aos.css">
    <link type="text/css" rel="stylesheet" href="/css/jquery.mb.YTPlayer.min.css" media="all">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <!--    <link rel="stylesheet" th:href="@{/styles.css}" href="../static/styles.css"/>-->


</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 text-center">
                    <a href="/" class="site-logo">
                        <img src="/images/logo.png" alt="Image" class="img-fluid">
                    </a>
                </div>
                <a href="#" class="mx-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                        class="icon-menu h3"></span></a>
            </div>
        </div>


        <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

            <div class="container">
                <div class="d-flex align-items-center">
                    <div class="col-lg-4">
                        <span th:text="${'Logged in as:'} + ' '"></span>

                        <span sec:authorize="!isAuthenticated()" th:text="'Guest'"></span>

                        <span sec:authorize="isAuthenticated()" sec:authentication="name"></span>
                    </div>

                    <div class="centerLoggedIn" sec:authorize="isAuthenticated()">
                        <div class="mx-auto">
                            <nav class="site-navigation position-relative text-left" role="navigation">
                                <ul class="site-menu main-menu js-clone-nav mx-auto d-none pl-0 d-lg-block border-none">

                                    <li class="active"><a th:href="@{/index}" class="nav-link text-left">Home</a></li>
                                    <li><a th:href="@{/beers}" class="nav-link text-left">Beers</a></li>
                                    <li><a th:href="@{/users}" sec:authorize="isAuthenticated()"
                                           class="nav-link text-left">Users</a></li>
                                    <li><a th:href="@{/login}" sec:authorize="!isAuthenticated()"
                                           class="nav-link text-left">Login</a></li>
                                    <li><a th:href="@{/register}" sec:authorize="!isAuthenticated()"
                                           class="nav-link text-left">Register</a></li>
                                    <li><a th:href="@{/logout}" sec:authorize="isAuthenticated()"
                                           class="nav-link text-left">Log Out</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="centerNotLoggedIn" sec:authorize="!isAuthenticated()">
                        <div class="mx-auto">
                            <nav class="site-navigation position-relative text-left" role="navigation">
                                <ul class="site-menu main-menu js-clone-nav mx-auto d-none pl-0 d-lg-block border-none">

                                    <li class="active"><a th:href="@{/index}" class="nav-link text-left">Home</a></li>
                                    <li><a th:href="@{/beers}" class="nav-link text-left">Beers</a></li>
                                    <li><a th:href="@{/users}" sec:authorize="isAuthenticated()"
                                           class="nav-link text-left">Users</a></li>
                                    <li><a th:href="@{/login}" sec:authorize="!isAuthenticated()"
                                           class="nav-link text-left">Login</a></li>
                                    <li><a th:href="@{/register}" sec:authorize="!isAuthenticated()"
                                           class="nav-link text-left">Register</a></li>
                                    <li><a th:href="@{/logout}" sec:authorize="isAuthenticated()"
                                           class="nav-link text-left">Log Out</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title mb-5">
                        <h2>Create Beer Form</h2>
                    </div>
                    <p>
                        <i th:if="${error != null}" th:text="${error}" class="error"></i>
                    </p>
                    <form th:action="@{/beer/new}" th:object="${beerDto}" method="post" enctype='multipart/form-data'>

                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label for="name">Beer name: <span class="error">*</span></label>
                                <input type="text" id="name" th:field="*{name}"
                                       class="form-control form-control-lg">
                            </div>
                            <div class="col-md-4 form-group">
                                <label>Style: <span class="error">*</span></label>
                                <select class="form-control" th:field="*{beerStyleId}">
                                    <option th:each="s:${styles}"
                                            th:value="${s.id}"
                                            th:text="${s.name}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4 form-group">
                                <label>Brewery: <span class="error">*</span></label>
                                <select class="form-control" th:field="*{breweryId}">
                                    <option th:each="b:${breweries}"
                                            th:value="${b.id}"
                                            th:text="${b.name}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label>Country: <span class="error">*</span></label>
                                <select class="form-control" th:field="*{countryId}">
                                    <option th:each="c:${countries}"
                                            th:value="${c.id}"
                                            th:text="${c.name}">
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-4 form-group">
                                <label for="abv">ABV: <span class="error">*</span></label>
                                <input type="number" step="0.1" min="0" max="100" id="abv" th:field="*{abv}"
                                       class="form-control form-control-lg">
                            </div>

                            <div class="form-group">
                                <label for="description">&nbsp&nbsp&nbspDescription:</label>
                                <textarea name="description" id="description" cols="30" rows="5"
                                          class="form-control"
                                          style="margin-left: 14px; height: 130px;">
                                </textarea>
                            </div>
                        </div>
                        <div class="row">

                            <!-- TAGS -->
                            <div class="col-md-12 form-group">
                                <div class="col-sm-3 form-check-inline" th:each="tag : ${tags}">
                                    <div class="ui checkbox">
                                        <input type="checkbox" th:field="*{tagsIds}" th:value="${tag.id}">
                                        <label th:text="${tag.name}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--                        <label th:each="type : ${customerTypes}">-->
                        <!--                            <input type="checkbox" th:field="${selectedValues}"-->
                        <!--                                   th:value="${type}"-->
                        <!--                                   th:text="${type.name}">-->
                        <!--                            </input>-->
                        <!--                        </label>-->
                        <!--                        -->
                        <!--                        <th:block th:each="certificate : ${certificates}">-->
                        <!--                            <input type="checkbox" name="cers" th:value="${certificate.id}"/>-->
                        <!--                            <label th:text="${certificate.name}"></label>-->
                        <!--                        </th:block>-->
                        <!--                        class="custom-control-input"-->
                        <!--                        <div calss="row">-->
                        <!--                            <div class="col-md-6">-->
                        <!--                                <label th:each="tag : ${tags}">-->
                        <!--                                    <input type="checkbox"-->
                        <!--                                           th:value="${tag.getId()}"-->
                        <!--                                           th:text="${tag.getName()}">-->
                        <!--                                </label>-->
                        <!--                            </div>-->
                        <!--                        </div>-->


                        <div class="row">
                            <div class="col-6">

                                <label th:text="#{picture.upload.header}">Picture</label>
                                <input type="file" name="file" accept="image/*"/> <br/><br/>

                            </div>
                            <div class="col-6">
                                <input type="submit" th:href="@{/beer/new}" value="Create beer"
                                       class="btn btn-primary py-3 px-5">
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>


        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                All rights reserved | This template is made with <i class="icon-heart text-danger"
                                                                                    aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- .site-wrap -->


<!-- loader -->
<div id="loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#ff5e15"/>
    </svg>
</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/jquery.mb.YTPlayer.min.js"></script>

<script src="/js/main.js"></script>

</body>

</html>