<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>BeerTag - Beer update</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700|Montserrat:400,700|Roboto&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/css/aos.css">
    <link href="/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/css/style.css">


</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 text-center">
                    <a href="/" class="site-logo">
                        <img src="/images/logo.png" alt="Image" class="img-fluid">
                    </a>
                </div>
                <a href="#" class="mx-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                        class="icon-menu h3"></span></a>
            </div>
        </div>


        <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

            <div class="container">
                <div class="d-flex align-items-center">
                    <div class="col-lg-4">
                        <span th:text="${'Logged in as:'} + ' '"></span>

                        <span sec:authorize="!isAuthenticated()" th:text="'Guest'"></span>

                        <span sec:authorize="isAuthenticated()" sec:authentication="name"></span>
                    </div>

                    <div class="centerLoggedIn" sec:authorize="isAuthenticated()">
                        <div class="mx-auto">
                            <nav class="site-navigation position-relative text-left" role="navigation">
                                <ul class="site-menu main-menu js-clone-nav mx-auto d-none pl-0 d-lg-block border-none">

                                    <li class="active"><a th:href="@{/index}" class="nav-link text-left">Home</a></li>
                                    <li><a th:href="@{/beers}" class="nav-link text-left">Beers</a></li>
                                    <li><a th:href="@{/users}" sec:authorize="isAuthenticated()"
                                           class="nav-link text-left">Users</a></li>
                                    <li><a th:href="@{/login}" sec:authorize="!isAuthenticated()"
                                           class="nav-link text-left">Login</a></li>
                                    <li><a th:href="@{/register}" sec:authorize="!isAuthenticated()"
                                           class="nav-link text-left">Register</a></li>
                                    <li><a th:href="@{/logout}" sec:authorize="isAuthenticated()"
                                           class="nav-link text-left">Log Out</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="centerNotLoggedIn" sec:authorize="!isAuthenticated()">
                        <div class="mx-auto">
                            <nav class="site-navigation position-relative text-left" role="navigation">
                                <ul class="site-menu main-menu js-clone-nav mx-auto d-none pl-0 d-lg-block border-none">

                                    <li class="active"><a th:href="@{/index}" class="nav-link text-left">Home</a></li>
                                    <li><a th:href="@{/beers}" class="nav-link text-left">Beers</a></li>
                                    <li><a th:href="@{/users}" sec:authorize="isAuthenticated()"
                                           class="nav-link text-left">Users</a></li>
                                    <li><a th:href="@{/login}" sec:authorize="!isAuthenticated()"
                                           class="nav-link text-left">Login</a></li>
                                    <li><a th:href="@{/register}" sec:authorize="!isAuthenticated()"
                                           class="nav-link text-left">Register</a></li>
                                    <li><a th:href="@{/logout}" sec:authorize="isAuthenticated()"
                                           class="nav-link text-left">Log Out</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="site-section bg-light">
        <div class="container mt-5">
            <div class="row section-title mb-5">
                <h2>Beer update form</h2>
            </div>

            <form th:action="@{/beer/{path}/update (path=${beerDto.getId()})}" th:object="${beerDto}" method="post"
                  enctype='multipart/form-data'>

                <div class="row">

                    <div class="col-lg-6 ml-auto">

                        <div class="row owl-carousel hero-slide owl-style">
                            <img th:src="${beerDto.getImageUrl()}" alt="Image" class="img-fluid">
                        </div>
                        <br>
                        <div class="row">
                            <label th:text="#{picture.upload.header}">Profile picture</label>
                            <input type="file" name="file" accept="image/*"/> <br/><br/>
                        </div>
                    </div>


                    <div class="col-lg-5 ml-auto">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="beerName">Beer Name</label>
                                <input type="text" id="beerName" th:field="*{name}"
                                       class="form-control form-control-lg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="abv">ABV</label>
                                <input type="number" step="0.1" min="0" max="100" id="abv" th:field="*{abv}"
                                       class="form-control form-control-lg">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Country: </label>
                                <select class="form-control" th:field="*{countryId}">
                                    <option th:each="country : ${countries}"
                                            th:value="${country.id}"
                                            th:text="${country.name}"
                                            th:unless="${country.getId()} == *{countryId}">
                                    </option>
                                    <option selected th:each="country : ${countries}"
                                            th:value="${country.id}"
                                            th:text="${country.name}"
                                            th:if="${country.getId()} == *{countryId}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Beer Style: </label>
                                <select class="form-control" th:field="*{beerStyleId}">
                                    <option th:each="style : ${styles}"
                                            th:value="${style.id}"
                                            th:text="${style.name}"
                                            th:unless="${style.getId()} == *{beerStyleId}">
                                    </option>
                                    <option selected th:each="style : ${styles}"
                                            th:value="${style.id}"
                                            th:text="${style.name}"
                                            th:if="${style.getId()} == *{beerStyleId}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Brewery: </label>
                                <select class="form-control" th:field="*{breweryId}">
                                    <option th:each="brewery : ${breweries}"
                                            th:value="${brewery.id}"
                                            th:text="${brewery.name}"
                                            th:unless="${brewery.getId()} == *{breweryId}">
                                    </option>
                                    <option selected th:each="brewery : ${breweries}"
                                            th:value="${brewery.id}"
                                            th:text="${brewery.name}"
                                            th:if="${brewery.getId()} == *{breweryId}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea th:field = "*{description}" name="description" id="description" cols="30" rows="5"
                                      class="form-control">
                                </textarea>
                        </div>

                        <div class="row">
                            <!-- TAGS --><label>&nbsp&nbsp&nbspTags:</label>
                            <div class="col-md-12 form-group">
                                <div class="col-sm-3 form-check-inline" th:each="tag : ${tags}">
                                    <div class="ui checkbox">
                                        <input type="checkbox" th:field="*{tagsIds}" th:value="${tag.id}">
                                        <label th:text="${tag.name}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <input type="submit" value="Update"
                                       class="btn btn-primary py-3 px-5">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="copyright">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="icon-heart text-danger"
                                                                            aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- .site-wrap -->


<!-- loader -->
<div id="loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#ff5e15"/>
    </svg>
</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/jquery.mb.YTPlayer.min.js"></script>

<script src="/js/main.js"></script>

</body>

</html>