<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${'BeerTag - ' + user.getUserName()}">User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700|Montserrat:400,700|Roboto&display=swap"
          rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/fonts/icomoon/style.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="/css/owl.carousel.min.css">
    <link type="text/css" rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link type="text/css" rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link type="text/css" rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link type="text/css" rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
    <link type="text/css" rel="stylesheet" href="/css/aos.css">
    <link type="text/css" rel="stylesheet" href="/css/jquery.mb.YTPlayer.min.css" media="all">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 text-center">
                    <a href="/" class="site-logo">
                        <img src="/images/logo.png" alt="Image" class="img-fluid">
                    </a>
                </div>
                <a href="#" class="mx-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                        class="icon-menu h3"></span></a>
            </div>
        </div>

        <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

            <div class="container">
                <div class="d-flex align-items-center">
                    <div class="col-lg-4">
                        <span th:text="${'Logged in as:'} + ' '"></span>

                        <span sec:authorize="!isAuthenticated()" th:text="'Guest'"></span>

                        <span sec:authorize="isAuthenticated()" sec:authentication="name"></span>
                    </div>

                    <div class="centerLoggedIn" sec:authorize="isAuthenticated()">
                        <div class="mx-auto">
                            <nav class="site-navigation position-relative text-left" role="navigation">
                                <ul class="site-menu main-menu js-clone-nav mx-auto d-none pl-0 d-lg-block border-none">

                                    <li class="active"><a th:href="@{/index}" class="nav-link text-left">Home</a></li>
                                    <li><a th:href="@{/beers}" class="nav-link text-left">Beers</a></li>
                                    <li><a th:href="@{/users}" sec:authorize="isAuthenticated()"
                                           class="nav-link text-left">Users</a></li>
                                    <li><a th:href="@{/login}" sec:authorize="!isAuthenticated()"
                                           class="nav-link text-left">Login</a></li>
                                    <li><a th:href="@{/register}" sec:authorize="!isAuthenticated()"
                                           class="nav-link text-left">Register</a></li>
                                    <li><a th:href="@{/logout}" sec:authorize="isAuthenticated()"
                                           class="nav-link text-left">Log Out</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="centerNotLoggedIn" sec:authorize="!isAuthenticated()">
                        <div class="mx-auto">
                            <nav class="site-navigation position-relative text-left" role="navigation">
                                <ul class="site-menu main-menu js-clone-nav mx-auto d-none pl-0 d-lg-block border-none">

                                    <li class="active"><a th:href="@{/index}" class="nav-link text-left">Home</a></li>
                                    <li><a th:href="@{/beers}" class="nav-link text-left">Beers</a></li>
                                    <li><a th:href="@{/users}" sec:authorize="isAuthenticated()"
                                           class="nav-link text-left">Users</a></li>
                                    <li><a th:href="@{/login}" sec:authorize="!isAuthenticated()"
                                           class="nav-link text-left">Login</a></li>
                                    <li><a th:href="@{/register}" sec:authorize="!isAuthenticated()"
                                           class="nav-link text-left">Register</a></li>
                                    <li><a th:href="@{/logout}" sec:authorize="isAuthenticated()"
                                           class="nav-link text-left">Log Out</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-primary py-5 page-title-wrap mt-5">
        <div class="container">
            <h1 th:text="'User: '+ ${user.getUserName()}"></h1>
        </div>
    </div>

    <div class="site-section mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 ml-auto">
                    <div class="owl-carousel hero-slide owl-style">
                        <img th:src="${user.getImageUrl()}" alt="Image" class="img-fluid">
                    </div>
                </div>

                <div class="col-lg-5 ml-auto">
                    <div class="row">
                        <h2 class="text-primary"
                            th:unless="${user.getFirstName().isEmpty()}or${user.getLastName().isEmpty()}"
                            th:text="#{user.fullname.field} + ${user.getFirstName() + ' '} + ${user.getLastName()}">
                            Name</h2>
                    </div>
                    <div class="row">
                        <h2 class="text-primary" th:unless="${user.getCountry().getName().isEmpty()}"
                            th:text="#{country.field} + ${user.getCountry()?.getName()}">
                            Country</h2>
                    </div>
                    <div class="row">
                        <h2 class="text-primary" sec:authorize="hasRole('ADMIN')" th:text="#{user.email.field} + ' '">
                            E-mail</h2>
                    </div>
                    <div class="row">
                        <h2 class="text-primary" sec:authorize="hasRole('ADMIN')" th:text="${user.getEmail()}">
                            E-mail</h2>
                    </div>
                    <div class="row">
                        <h2 class="text-primary" sec:authorize="hasRole('ADMIN')"
                            th:unless="${user.getBirthDate() == null}"
                            th:text="#{user.birthdate.field} + ${user.getBirthDate()} ?: ''">
                            Birth date</h2>
                    </div>
                    <!--                Update button                     -->
                    <div class="row">
                        <div class="col-6">
                            <form sec:authorize="isAuthenticated()"
                                  th:if="${#authentication.getName()==user.userName or #authorization.expression('hasRole(''ROLE_ADMIN'')') }"

                                  th:action="@{/user/{path}/update (path=${user.getId()})}" method="get">
                                <div>
                                    <input type="submit" value="Update profile"
                                           class="btn btn-primary py-3 px-5">
                                </div>
                            </form>
                        </div>

                        <!--                Delete button                     -->
                        <div class="col-6">
                            <form sec:authorize="isAuthenticated()"
                                  th:if="${#authentication.getName()==user.userName or #authorization.expression('hasRole(''ROLE_ADMIN'')') }"

                                  th:action="@{/user/{path}/delete (path=${user.getId()})}" method="post">
                                <div>
                                    <input type="submit" value="Delete Profile"
                                           class="btn btn-danger py-3 px-5">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="site-section bg-primary py-5 page-title-wrap mt-5" th:if="${rates!=null and !rates.isEmpty()}">
    <div class="container">
        <h1> Top 3 rated beers: </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 mb-5 col-md-6" th:each="rated,ratedStat : ${rates}" th:unless="${ratedStat.index > 2}">
        <div class="wine_v_1 text-center pb-4">
            <div class="wine_v_1 text-center pb-4">
                <a th:href="@{/beer/{path}(path=${rated.getBeer().getId()})}" class="thumbnail d-block mb-4">
                    <img th:src="${rated.getBeer().getImageURL()}" alt="Image" class="img-fluid">
                </a>
                <div>
                    <h3 class="heading mb-1"><a th:href="@{/beer/{path}(path=${rated.getBeer().getId()})}"
                                                th:text="${rated.getBeer().getName()}"></a></h3>
                    <span class="heading mb-1" th:text="'User rating: '+ ${rated.getRating()}">Rating</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-primary py-5 page-title-wrap mt-5" th:if="${tastes!=null and !tastes.isEmpty()}">
    <div class="container">
        <h1> Your Tasted Beers: </h1>
    </div>
</div>

<div class="row">

    <div class="col-lg-4 mb-5 col-md-6" th:each="tasted : ${tastes}">
        <div class="wine_v_1 text-center pb-4">
            <div class="wine_v_1 text-center pb-4">
                <a th:href="@{/beer/{path}(path=${tasted.getId()})}" class="thumbnail d-block mb-4">
                    <img th:src="${tasted.getImageURL()}" alt="Image" class="img-fluid">
                </a>
                <div>
                    <h3 class="heading mb-1"><a th:href="@{/beer/{path}(path=${tasted.getId()})}"
                                                th:text="${tasted.getName()}"></a></h3>
                    <span class="heading mb-1" th:text="${tasted.getAbv()} + '%'">ABV</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-primary py-5 page-title-wrap mt-5" th:if="${wishes!=null and !wishes.isEmpty()}">
    <div class="container">
        <h1> Your Wished Beers: </h1>
    </div>
</div>

<div class="row">

    <div class="col-lg-4 mb-5 col-md-6" th:each="wished : ${wishes}">
        <div class="wine_v_1 text-center pb-4">
            <div class="wine_v_1 text-center pb-4">
                <a th:href="@{/beer/{path}(path=${wished.getId()})}" class="thumbnail d-block mb-4">
                    <img th:src="${wished.getImageURL()}" alt="Image" class="img-fluid">
                </a>
                <div>
                    <h3 class="heading mb-1"><a th:href="@{/beer/{path}(path=${wished.getId()})}"
                                                th:text="${wished.getName()}"></a></h3>
                    <span class="heading mb-1" th:text="${wished.getAbv()} + '%'">ABV</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="footer-beer">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="copyright">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="icon-heart text-danger"
                                                                            aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- .site-wrap -->


<!-- loader -->
<div id="loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#ff5e15"/>
    </svg>
</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/jquery.mb.YTPlayer.min.js"></script>


<script src="/js/main.js"></script>

</body>

</html>