<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="/images/favicon.png" rel="icon"/>
    <title>VW Admin - Users</title>

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
          type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    <header id="header" th:replace="/fragments/fragments::header"></header>
    <!-- Header End -->

    <!-- Secondary menu
============================================= -->
    <div th:replace="fragments/fragments :: adminMenu"></div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">

                <!-- Middle Panel
                ============================================= -->
                <div class="col-lg-12">
                    <h2 class="font-weight-400 mb-3" th:text="#{admin.users.title}"></h2>
                    <!-- All Users Filter
                    ============================================= -->
                        <div class="row">
                            <div class="col mb-2">
                                <div class="form-row">
                                    <form id="filterUsers"  th:action="@{/admin/users}"
                                          th:object="${userSearch}" method="get">
                                        <div class="col-12 py-2 px-4 mb-4" id="allFilters">
                                            <div class="row">
                                                <div class="col-md-3 form-group">
                                                    <label>Username:&nbsp</label>
                                                    <input th:type="text" th:field="*{{username}}"
                                                           class="form-control" placeholder="Username">
                                                </div>
                                                <div class="col-md-3 form-group">
                                                    <label>Email:&nbsp</label>
                                                    <input th:type="email" th:field="*{{email}}"
                                                           class="form-control" placeholder="Email">
                                                </div>
                                                <div class="col-md-3 form-group">
                                                    <label>Phone:&nbsp</label>
                                                    <input th:type="text" th:field="*{{phone}}"
                                                           class="form-control" placeholder="Phone">
                                                </div>
                                                <div class="col-md-3 align-content-end">
                                                    <label th:for="searchButton">
                                                        <input th:type="submit" th:value="Submit"
                                                               style="padding: 0.8rem 4rem; margin-top: 29px"
                                                               class="users-submit-button btn btn-primary" th:id="searchButton">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- All Users Filter End -->
                        <div class="transaction-title py-2 px-4">
                            <div class="row">
                                <div class="col-2 col-sm-3">Username</div>
                                <div class="col col-sm-3">Email</div>
                                <div class="col col-sm-2">Phone</div>
                                <div class="col-3 col-sm-2">Status</div>
                                <div class="col-3 col-sm-2">Block/Unblock</div>
                            </div>
                        </div>

                        <div class="transaction-list" th:unless="${users.getTotalPages() > 0}">
                            <div class="transaction-item px-4 py-1">
                                <span>There are no users for the required filtering criteria.</span>
                            </div>
                        </div>

                        <!-- User List
                        =============================== -->
                        <div class="transaction-list" th:if="${users.getTotalPages() > 0}">
                            <div class="transaction-item px-4 py-1" th:each="user : ${users}"
                                 data-toggle="modal" data-target="#transaction-detail">
                                <div class="row align-items-center flex-row">
                                    <div class="col-2 col-sm-3">
                                        <span class="d-block text-4" th:text="${user.getUsername()}"></span>
                                    </div>
                                    <div class="col col-sm-3">
                                        <span class="d-block text-4" th:text="${user.getEmail()}"></span>
                                    </div>
                                    <div class="col col-sm-2">
                                        <span class="d-block text-4" th:text="${user.getPhone()}"></span>
                                    </div>
                                    <div class="col-3 col-sm-2 text-4">
                                        <span class="d-block text-4" th:if="${user.isBlocked() == true}" th:text="Blocked"></span>
                                        <span class="d-block text-4" th:if="${user.isBlocked() == false}" th:text="NotBlocked"></span>
                                    </div>
                                    <div class="col-4 col-sm-2 text-4">
                                        <form th:id="blockedForm" th:method="post"
                                              th:action="@{/admin/users/{userId} (userId = *{user.getUserId()})}">
                                            <span class="d-block text-4">
                                                <button type="submit" class="btn btn-primary btn-sm">Block/Unblock</button>
                                            </span>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- User List End -->

                        <!-- Pagination
                         ============================================= -->
                        <ul class="pagination justify-content-center mt-4 mb-0" th:if="${users.getTotalPages() > 0}">
                            <li  class="page-item" th:each="i: ${#numbers.sequence(0, users.totalPages - 1)}">
                                <span class="page-item active" th:if="${users.number == i}">
                                    <a class="page-link" href="#"> [[${i}+1]]</a></span>
                                <span class="page-item" th:unless="${users.number == i}">
                                <a class="page-link"
                                   th:href="@{/admin/users (
                                   username=${userSearch.getUsername()}, email=${userSearch.getEmail()},
                                    phone=${userSearch.getPhone()},
                                     page=${i},size=${users.size})}">[[${i}+1]]</a>
                            </span>
                            </li>
                        </ul>
                        <!-- Paginations end -->

                    <!-- All Transactions End -->
                </div>
                <!-- Middle End -->
            </div>
        </div>
    </div>
    <!-- Content end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/daterangepicker/moment.min.js"></script>
<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<script>
    $(function () {
        'use strict';

        // Date Range Picker
        $(function () {
            var start = moment().subtract(29, 'days');
            var end = moment();

            function cb(start, end) {
                $('#dateRange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#dateRange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
            cb(start, end);
        });
    });
</script>
<script src="/js/theme.js"></script>
</body>
</html>