<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="/images/favicon.png" rel="icon"/>
    <title>VW Admin - Card Transactions</title>

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
          type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    <header th:replace="fragments/fragments :: header"></header>
    <!-- Header End -->

    <!-- Secondary menu
  ============================================= -->
    <div th:replace="fragments/fragments :: adminMenu"></div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">
                <!-- Middle Panel
                ============================================= -->
                <div class="col-lg-12">

                    <h2 class="font-weight-400 mb-3" th:text="#{card.transactions.title}"></h2>
                    <form id="filterTransactions"
                          th:object="${cardTransactionSearch}" method="get">

                        <!-- Filter
                        ============================================= -->
                        <div class="row">
                            <div class="col mb-2">
                                <div class="form-row">
                                    <div class="col-12 py-2 px-4 mb-4" id="allFilters">
                                        <div class="row">

                                            <div class="col-md-3 form-group">
                                                <label>From date:&nbsp</label>
                                                <input th:type="date" th:field="*{{fromDate}}"
                                                       class="form-control" placeholder="From Date">
                                            </div>

                                            <div class="col-md-3 form-group">
                                                <label>Till date:&nbsp</label>
                                                <input th:type="date" th:field="*{{tillDate}}"
                                                       class="form-control" placeholder="Till Date">
                                            </div>

                                            <div class="col-md-3 form-group">
                                                <label>Amount from:&nbsp</label>
                                                <div class="input-group">
                                                    <input th:type="number" th:field="*{amountFrom}"
                                                           th:min="0" th:max="21474836"
                                                           class="form-control" placeholder="Amount From"
                                                           id="amountToInput">
                                                    <span class="input-group-text">BGN</span>
                                                </div>
                                            </div>

                                            <div class="col-md-3 form-group">
                                                <label>Amount to:&nbsp</label>
                                                <div class="input-group">
                                                    <input th:type="number" th:field="*{amountTo}"
                                                           th:min="0" th:max="21474836"
                                                           class="form-control" placeholder="Amount To"
                                                           id="amountFromInput">
                                                    <span class="input-group-text">BGN</span>
                                                </div>
                                            </div>
                                            <!-- Sorting
                                            ================================ -->
                                            <div class="col-md-4 form-group">
                                                <label th:for="username">To Username:&nbsp</label>
                                                <div class="input-group">
                                                    <input class="form-control" th:type="text" th:field="*{username}">
                                                </div>
                                            </div>
                                            <div class="col-md-4 form-group">
                                                <label th:for="sortByField">Sort By:&nbsp</label>
                                                <select class="form-control" th:id="sortByField"
                                                        th:field="*{orderBy}">
                                                    <option th:value="timestamp" th:text="Date"></option>
                                                    <option th:value="amount" th:text="Amount"></option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 form-group">
                                                <label th:for="sortTypeField">Sort Type:&nbsp</label>
                                                <select class="form-control" th:id="sortTypeField"
                                                        th:field="*{direction}">
                                                    <option th:value="DESC" th:text="Descending"></option>
                                                    <option th:value="ASC" th:text="Ascending"></option>
                                                </select>
                                            </div>

                                            <input th:type="text" th:name="sort"
                                                   th:value="*{sort}"
                                                   class="form-control" hidden>
                                            <!-- Sorting End-->

                                            <div class="col-4 align-content-end">
                                                <label th:for="searchButton">
                                                    <input th:type="submit" th:value="Submit"
                                                           th:action="@{/admin/card-transactions}"
                                                           class="btn btn-primary btn-sm" th:id="searchButton">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- All Filters collapse End -->
                                </div>

                            </div>
                        </div>
                        <!-- Filter End -->

                        <!-- All Transactions
                        ============================================= -->
                        <!-- Title
                        =============================== -->
                        <div class="transaction-title py-2 px-4">
                            <div class="row">
                                <div class="col-2 col-sm-3 text-center"><span class="">Date</span></div>
                                <div class="col col-sm-2">Username (ID)</div>
                                <div class="col col-sm-2">From Card ID</div>
                                <div class="col col-sm-2">To Wallet (ID)</div>
                                <div class="col-auto col-sm-1 d-none d-sm-block text-center">Direction</div>
                                <div class="col-3 col-sm-2 text-center">Amount</div>
                            </div>
                        </div>
                        <!-- Title End -->

                        <div class="transaction-list" th:unless="${cardTransactions.getTotalPages() > 0}">
                            <div class="transaction-item px-4 py-1">
                                <span>There are no transactions to this moment or for the required filtering criteria.</span>
                            </div>
                        </div>

                        <!-- Transaction List
                        =============================== -->
                        <div class="transaction-list" th:if="${cardTransactions.getTotalPages() > 0}">
                            <div class="transaction-item px-4 py-1" th:each="cardTransaction : ${cardTransactions}">
                                <div class="row align-items-center flex-row">
                                    <div class="col-2 col-sm-3">
                                            <span class="text-2 font-weight-300"
                                                  th:text="${#dates.format(cardTransaction.getTimestamp(), 'dd/MMM/yyyy HH:mm:ss')}">Timestamp</span>
                                    </div>
                                    <div class="col col-sm-2">
                                        <span class="text-2"
                                              th:text="${cardTransaction.getReceivingUser().getUsername()}">Username(ID)</span>
                                        <span class="text-2 text-uppercase"
                                              th:text="'(' + ${cardTransaction.getReceivingUser().getUserId()} + ')'"></span>
                                    </div>
                                    <div class="col col-sm-2">
                                        <span class="text-2"
                                              th:text="${cardTransaction.cardId}">From Card ID</span>
                                    </div>
                                    <div class="col col-sm-2">
                                            <span class="text-2"
                                                  th:text="${cardTransaction.receivingWallet.name}">To Wallet(ID)</span>
                                        <span class="text-2 text-uppercase"
                                              th:text="'(' + ${cardTransaction.getReceivingWallet().getId()} + ')'"></span>
                                    </div>

                                    <div class="col-auto col-sm-1 d-none d-sm-block text-center text-3">
                                        <span class="text-success" data-toggle="tooltip" data-original-title="Received">
                                            <i class="fas fa-arrow-circle-down"></i></span>
                                    </div>
                                    <div class="col-3 col-sm-2 text-center text-4">
                                        <span class="text-2"
                                              th:text="${cardTransaction.getAmount()} / 100">Amount</span>
                                        <span class="text-2 text-uppercase">BGN</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Transaction List End -->
                        <!-- Pagination
                        ============================================= -->
                        <ul class="pagination justify-content-center mt-4 mb-0"
                            th:if="${cardTransactions.getTotalPages() > 0}">
                            <li class="page-item" th:each="i: ${#numbers.sequence(0, cardTransactions.totalPages - 1)}">
                                <span class="page-item active" th:if="${cardTransactions.number == i}">
                                    <a class="page-link" href="#"> [[${i}+1]]</a></span>
                                <span class="page-item" th:unless="${cardTransactions.number == i}">
                                <a class="page-link"
                                   th:href="@{/admin/card-transactions(fromDate=${cardTransactionSearch.getFromDate()},
                                                                        tillDate=${cardTransactionSearch.getTillDate()},
                                                                        amountFrom=${cardTransactionSearch.amountFrom},
                                                                        amountTo=${cardTransactionSearch.amountTo},
                                                                        username = ${cardTransactionSearch.username},
                                                                        orderBy= ${cardTransactionSearch.orderBy},
                                                                        direction= ${cardTransactionSearch.direction},
                                                                        page=${i},size=${cardTransactions.size},
                                                                        sort=${cardTransactionSearch.sort})}">[[${i}+1]]</a>
                            </span>
                            </li>
                        </ul>
                        <!-- Paginations end -->
                    </form>
                    <!-- All Transactions End -->
                </div>
                <!-- Middle End -->
            </div>
        </div>
    </div>
    <!-- Content end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/daterangepicker/moment.min.js"></script>
<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<script src="/js/theme.js"></script>
</body>
</html>