<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="/images/favicon.png" rel="icon"/>
    <title>VW Admin - Transactions</title>

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
          type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>

    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    <header th:replace="fragments/fragments :: header"></header>
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div th:replace="fragments/fragments :: adminMenu"></div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">
                <!-- Middle Panel
                ============================================= -->
                <div class="col-lg-12">

                    <h2 class="font-weight-400 mb-3" th:text="#{admin.transactions.title}"></h2>
                    <form id="filterTransactions"
                          th:object="${transactionSearch}" method="get">

                        <!-- Filter
                        ============================================= -->
                        <div class="row">
                            <div class="col mb-2">
                                <div class="form-row">
                                    <!-- All Filters collapse
                                    ================================ -->
                                    <div class="col-12 py-2 px-4 mb-4" id="allFilters">
                                        <div class="row">

                                            <div class="col-md-3 form-group">
                                                <label>From date:&nbsp</label>
                                                <input th:type="date" th:field="*{{fromDate}}"
                                                       class="form-control" placeholder="From Date">
                                            </div>

                                            <div class="col-md-3 form-group">
                                                <label>Till date:&nbsp</label>
                                                <input th:type="date" th:field="*{{tillDate}}"
                                                       class="form-control" placeholder="Till Date">
                                            </div>

                                            <div class="col-md-3 form-group">
                                                <label>Sender username:&nbsp</label>
                                                <input th:type="text" th:field="*{senderUsername}"
                                                       class="form-control" placeholder="Sender">
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <label>Recipient username:&nbsp</label>
                                                <input th:type="text" th:field="*{recipientUsername}"
                                                       class="form-control" placeholder="Recipient">
                                            </div>

                                            <!-- Sorting
                                            ================================ -->

                                            <div class="col-md-4 form-group">
                                                <label th:for="sortByField">Sort By:&nbsp</label>
                                                <input th:type="hidden" th:for="sortByField" class="form-control">
                                                <label th:for="sortByField">
                                                    <select class="form-control" th:id="sortByField"
                                                            th:field="*{orderBy}">
                                                        <option th:value="timestamp" th:text="Date"></option>
                                                        <option th:value="amount" th:text="Amount"></option>
                                                    </select>
                                                </label>
                                            </div>
                                            <div class="col-md-4 form-group">
                                                <label th:for="sortTypeField">Sort Type:&nbsp</label>
                                                <input th:type="hidden" th:for="sortTypeField" class="form-control">
                                                <label th:for="sortTypeField">
                                                    <select class="form-control" th:id="sortTypeField"
                                                            th:field="*{direction}">
                                                        <option th:value="DESC" th:text="Descending"></option>
                                                        <option th:value="ASC" th:text="Ascending"></option>
                                                    </select>
                                                </label>
                                            </div>
                                            <div class="col-md-4 form-group">
                                                <input th:type="text" th:name="sort" th:value="*{sort}"
                                                       class="form-control" hidden>
                                            </div>
                                            <!-- Sorting End-->
                                            <div class="col-md-1 align-content-end">
                                                <label th:for="searchButton">
                                                    <input th:type="submit" th:value="Submit"
                                                           style="padding: 0.8rem 4rem; margin-top: 28px;"
                                                           class="users-submit-button btn btn-primary"
                                                           th:id="searchButton">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- All Filters collapse End -->
                                </div>
                            </div>
                        </div>
                        <!-- Filter End -->

                        <!-- All Transactions
                        ============================================= -->
                        <div class="bg-light shadow-sm rounded py-2 mb-4">
                            <!-- Title
                            =============================== -->
                            <div class="transaction-title py-2 px-4">
                                <div class="row">
                                    <div class="col-2 col-sm-3">Date</div>
                                    <div class="col col-sm-2">Sender</div>
                                    <div class="col col-sm-2">From wallet</div>
                                    <div class="col col-sm-2">Recipient</div>
                                    <div class="col-3 col-sm-3">Amount</div>
                                </div>
                            </div>
                            <!-- Title End -->
                            <div class="transaction-list" th:unless="${transactions.getTotalPages() > 0}">
                                <div class="transaction-item px-4 py-1">
                                    <span>There are no transactions to this moment or for the required filtering criteria.</span>
                                </div>
                            </div>

                            <!-- Transaction List
                            =============================== -->
                            <div class="transaction-list" th:if="${transactions.getTotalPages() > 0}">
                                <div class="transaction-item px-4 py-1" th:each="transaction : ${transactions}"
                                     data-toggle="modal" data-target="#transaction-detail">
                                    <div class="row align-items-center flex-row">
                                        <div class="col-2 col-sm-3">
                                            <span class="text-2 font-weight-300"
                                                  th:text="${#dates.format(transaction.getTimestamp(), 'dd/MMM/yyyy HH:mm:ss')}">Timestamp</span>
                                        </div>
                                        <div class="col col-sm-2"><span class="d-block text-4"
                                                                        th:text="${transaction.getSendingUser().getUsername()}">Sender</span>
                                        </div>
                                        <div class="col col-sm-2"><span class="d-block text-4"
                                                                        th:text="${transaction.getSenderWallet().getName()}">From wallet</span>
                                        </div>
                                        <div class="col col-sm-2"><span class="d-block text-4"
                                                                        th:text="${transaction.getReceivingUser().getUsername()}">Recipient</span>
                                        </div>
                                        <div class="col-3 col-sm-3"><span class="text-nowrap"
                                                                          th:text="${transaction.getAmount()}">###</span>
                                            <span class="text-2 text-uppercase">(BGN)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Transaction List End -->

                            <!-- Pagination
                            ============================================= -->
                            <ul class="pagination justify-content-center mt-4 mb-0"
                                th:if="${transactions.getTotalPages() > 0}">
                                <li class="page-item" th:each="i: ${#numbers.sequence(0, transactions.totalPages - 1)}">
                                <span class="page-item active" th:if="${transactions.number == i}">
                                    <a class="page-link" href="#"> [[${i}+1]]</a></span>
                                    <span class="page-item" th:unless="${transactions.number == i}">
                                <a class="page-link"
                                   th:href="@{/admin/transactions(
                                    fromDate=${transactionSearch.fromDate}, tillDate=${transactionSearch.tillDate},
                                    senderUsername=${transactionSearch.senderUsername},
                                    orderBy= ${transactionSearch.orderBy}, direction= ${transactionSearch.direction},
                                     page=${i},size=${transactions.size},
                                     sort=${transactionSearch.sort})}">[[${i}+1]]</a>
                            </span>
                                </li>
                            </ul>
                            <!-- Pagination end -->


                        </div>
                    </form>
                    <!-- All Transactions End -->
                </div>
                <!-- Middle End -->
            </div>
        </div>
    </div>
    <!-- Content end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/daterangepicker/moment.min.js"></script>
<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<script>
    $(function () {
        'use strict';

        // Date Range Picker
        $(function () {
            var start = moment().subtract(29, 'days');
            var end = moment();

            function cb(start, end) {
                $('#dateRange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#dateRange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
            cb(start, end);
        });
    });
</script>
<script src="/js/theme.js"></script>
</body>
</html>