<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="/images/favicon.png" rel="icon"/>
    <title>Virtual wallet - Card Transactions</title>

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
          type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    <header th:replace="fragments/fragments :: header"></header>
    <!-- Header End -->

    <!-- Secondary menu
 ============================================= -->
    <div th:replace="fragments/fragments :: transactionsMenu"></div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">

                <!-- Left Panel
                ============================================= -->
                <aside class="col-lg-3">

                    <!-- Profile Details
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4"><img class="rounded-circle profile-pic"
                                                                  th:src="${userDTO.getImageUrl()}" alt="">
                        </div>
                        <p class="text-3 font-weight-500 mb-2" th:text="#{user.greeting} + ${userDTO.username}"></p>
                    </div>
                    <!-- Profile Details End -->

                    <!-- Available Balance
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                        <h3 class="text-9 font-weight-400" th:text="${totalBalance} + ' BGN'"></h3>
                        <p class="mb-2 text-muted opacity-8" th:text="#{total.balance}"></p>
                    </div>
                    <!-- Available Balance End -->
                </aside>
                <!-- Left Panel End -->

                <!-- Middle Panel
                ============================================= -->
                <div class="col-lg-9">

                    <h2 class="font-weight-400 mb-3" th:text="#{user.card.transactions.title}"></h2>
                    <form id="filterTransactions"
                          th:object="${cardTransactionSearch}" method="get">

                        <!-- Filter
                        ============================================= -->
                        <div class="row">
                            <div class="col mb-2">
                                <div class="form-row">
                                    <!-- All Filters Link
                                    ========================= -->
                                    <div class="col-auto d-flex align-items-center mr-auto form-group"
                                         data-toggle="collapse"><a class="btn-link" data-toggle="collapse"
                                                                   href="#allFilters" aria-expanded="false"
                                                                   aria-controls="allFilters">Filters & Sort<i
                                            class="fas fa-sliders-h text-3 ml-1"></i></a></div>
                                    <!-- All Filters collapse
                                    ================================ -->
                                    <div class="col-12 collapse py-2 px-4 mb-4" id="allFilters">
                                        <div class="row">

                                            <div class="col-md-3 form-group">
                                                <label>From date:&nbsp</label>
                                                <input th:type="date" th:field="*{{fromDate}}"
                                                       class="form-control" placeholder="From Date">
                                            </div>

                                            <div class="col-md-3 form-group">
                                                <label>Till date:&nbsp</label>
                                                <input th:type="date" th:field="*{{tillDate}}"
                                                       class="form-control" placeholder="Till Date">
                                            </div>

                                            <div class="col-md-3 form-group">
                                                <label>Amount from:&nbsp</label>
                                                <div class="input-group">
                                                    <input th:type="number" th:field="*{amountFrom}"
                                                           th:min="0" th:max="21474836"
                                                           class="form-control" placeholder="Amount From"
                                                           id="amountToInput">
                                                    <span class="input-group-text">BGN</span>
                                                </div>
                                            </div>

                                            <div class="col-md-3 form-group">
                                                <label>Amount to:&nbsp</label>
                                                <div class="input-group">
                                                    <input th:type="number" th:field="*{amountTo}"
                                                           th:min="0" th:max="21474836"
                                                           class="form-control" placeholder="Amount To"
                                                           id="amountFromInput">
                                                    <span class="input-group-text">BGN</span>
                                                </div>
                                            </div>
                                            <!-- Sorting
                                            ================================ -->
                                            <div class="col-md-4 form-group">
                                                <label th:for="walletName">To Wallet:&nbsp</label>
                                                <select class="form-control" th:id="walletName"
                                                        th:field="*{walletName}">
                                                    <option th:each="userWallet : ${userWallets}"
                                                            th:value="${userWallet.wallet.name}"
                                                            th:text="${userWallet.wallet.name}"></option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 form-group">
                                                <label th:for="sortByField">Sort By:&nbsp</label>
                                                <select class="form-control" th:id="sortByField"
                                                        th:field="*{orderBy}">
                                                    <option th:value="timestamp" th:text="Date"></option>
                                                    <option th:value="amount" th:text="Amount"></option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 form-group">
                                                <label th:for="sortTypeField">Sort Type:&nbsp</label>
                                                <select class="form-control" th:id="sortTypeField"
                                                        th:field="*{direction}">
                                                    <option th:value="DESC" th:text="Descending"></option>
                                                    <option th:value="ASC" th:text="Ascending"></option>
                                                </select>
                                            </div>

                                            <input th:type="text" th:name="sort"
                                                   th:value="*{sort}"
                                                   class="form-control" hidden>
                                            <!-- Sorting End-->

                                            <div class="col-4 align-content-end">
                                                <label th:for="searchButton">
                                                    <input th:type="submit" th:value="Submit"
                                                           th:action="@{/user/{path}/card-transactions (path=${userDTO.getId()})}"
                                                           class="btn btn-primary btn-sm" th:id="searchButton">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- All Filters collapse End -->
                                </div>
                            </div>
                        </div>
                        <!-- Filter End -->

                        <!-- All Transactions
                        ============================================= -->
                        <!-- Title
                        =============================== -->
                        <div class="transaction-title py-2 px-4">
                            <div class="row">
                                <div class="col-2 col-sm-2 text-center"><span class="">Date</span></div>
                                <div class="col col-sm-3">From Card</div>
                                <div class="col col-sm-4">To Wallet</div>
                                <div class="col-auto col-sm-1 d-none d-sm-block text-center">Direction</div>
                                <div class="col-3 col-sm-2 text-right">Amount</div>
                            </div>
                        </div>
                        <!-- Title End -->

                        <div class="transaction-list" th:unless="${cardTransactions.getTotalPages() > 0}">
                            <div class="transaction-item px-4 py-1">
                                <span>There are no transactions to this moment or for the required filtering criteria.</span>
                            </div>
                        </div>

                        <!-- Transaction List
                        =============================== -->
                        <div class="transaction-list" th:if="${cardTransactions.getTotalPages() > 0}">
                            <div class="transaction-item px-4 py-1" th:each="cardTransaction : ${cardTransactions}">
                                <div class="row align-items-center flex-row">
                                    <div class="col-2 col-sm-2 text-center">
                                        <span class="text-2 font-weight-300"
                                              th:text="${cardTransaction.getTimestamp().getDate()}">Date</span>
                                        <span class="text-2 font-weight-300 text-uppercase"
                                              th:text="${#dates.monthNameShort(cardTransaction.getTimestamp())}">Month</span>
                                        <span class="d-block text-2 font-weight-300 text-uppercase"
                                              th:text="${#dates.year(cardTransaction.getTimestamp())}">Year</span>
                                    </div>
                                    <div class="col col-sm-3">
                                            <span class="d-block text-2"
                                                  th:text="${cardTransaction.cardId}">From Card</span>
                                    </div>
                                    <div class="col col-sm-4">
                                            <span class="d-block text-2"
                                                  th:text="${cardTransaction.receivingWallet.name}">To Wallet</span>
                                    </div>
                                    <div class="col-auto col-sm-1 d-none d-sm-block text-center text-3">
                                        <span class="text-success" data-toggle="tooltip" data-original-title="Received">
                                            <i class="fas fa-arrow-circle-down"></i></span>
                                    </div>
                                    <div class="col-3 col-sm-2 text-center text-4">
                                            <span class="d-block text-1"
                                                  th:text="${cardTransaction.amount} / 100">Amount</span>
                                        <span class="text-1 text-uppercase">(BGN)</span></div>
                                </div>
                            </div>
                        </div>

                        <!-- Pagination
                        ============================================= -->
                        <ul class="pagination justify-content-center mt-4 mb-0"
                            th:if="${cardTransactions.getTotalPages() > 0}">
                            <li class="page-item" th:each="i: ${#numbers.sequence(0, cardTransactions.totalPages - 1)}">
                                <span class="page-item active" th:if="${cardTransactions.number == i}">
                                    <a class="page-link" href="#"> [[${i}+1]]</a></span>
                                <span class="page-item" th:unless="${cardTransactions.number == i}">
                                <a class="page-link"
                                   th:href="@{/user/{path}/card-transactions(path=${userDTO.getId()},
                                    amountFrom=${cardTransactionSearch.amountFrom},
                                    amountTo=${cardTransactionSearch.amountTo},
                                    walletName=${cardTransactionSearch.walletName},
                                    fromDate=${cardTransactionSearch.fromDate},
                                    tillDate=${cardTransactionSearch.tillDate},
                                    orderBy= ${cardTransactionSearch.orderBy},
                                    direction= ${cardTransactionSearch.direction},
                                    sort=${cardTransactionSearch.sort},
                                    page=${i},size=${cardTransactions.size})}">[[${i}+1]]</a>
                            </span>
                            </li>
                        </ul>
                        <!-- Paginations end -->
                    </form>
                    <!-- All Transactions End -->
                </div>
                <!-- Middle End -->
            </div>
        </div>
    </div>
    <!-- Content end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/daterangepicker/moment.min.js"></script>
<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<script src="/js/theme.js"></script>
</body>
</html>