<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
<link href="/images/favicon.png" rel="icon" />
<title>Virtual Wallet - Cards</title>

<!-- Web Fonts
============================================= -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i' type='text/css'>

<!-- Stylesheet
============================================= -->
<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css" />
<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
<link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>
<body>

<!-- Preloader -->
<div id="preloader">
  <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">

  <!-- Header
  ============================================= -->
  <header th:replace="/fragments/fragments :: header"></header>
  <!-- Header End -->

  <!-- Secondary menu
  ============================================= -->
  <div th:replace="fragments/fragments :: userMenu"></div>
  <!-- Secondary menu end -->

  <!-- Content
  ============================================= -->
  <div id="content" class="py-4">
    <div class="container">
      <div class="row">
        <!-- Left Panel
        ============================================= -->
        <aside class="col-lg-3">

          <!-- Profile Details
          =============================== -->
          <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
            <div class="profile-thumb mt-3 mb-4"> <img class="rounded-circle profile-pic" th:src="${userDTO.getImageUrl()}" alt="">
            </div>
            <p class="text-3 font-weight-500 mb-2" th:text="#{user.greeting} +  *{userDTO.username}"></p>
          </div>
          <!-- Profile Details End -->

          <!-- Available Balance
          =============================== -->
          <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
            <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
            <h3 class="text-9 font-weight-400" th:text="${totalBalance} + ' BGN'"></h3>
            <p class="mb-2 text-muted opacity-8" th:text="#{total.balance}"></p>
          </div>
          <!-- Available Balance End -->
        </aside>
        <!-- Left Panel End -->

        <!-- Middle Panel
        ============================================= -->
        <div class="col-lg-9">

          <!-- Credit or Debit Cards
          ============================================= -->
          <div class="bg-light shadow-sm rounded p-4 mb-4">
            <h3 class="text-5 font-weight-400 mb-4">Credit or Debit Cards <span class="text-muted text-4"></span></h3>
            <label class="col-form-label success-message"
                   th:if="${#request.getParameter('cardStatus') != null &&
                                #request.getParameter('cardStatus').equals('creationSuccessful')}"
                   th:text="#{card.created.successfully}">
            </label>
            <label class="col-form-label error-message"
                   th:if="${#request.getParameter('cardStatus') != null &&
                                #request.getParameter('cardStatus').equals('duplicateEntry')}"
                   th:text="#{card.duplicate.entry}">
            </label>
            <label class="col-form-label success-message"
                   th:if="${#request.getParameter('cardStatus') != null &&
                                #request.getParameter('cardStatus').equals('editSuccessful')}"
                   th:text="#{card.edited.successfully}">
            </label>
            <label class="col-form-label success-message"
                   th:if="${#request.getParameter('cardStatus') != null &&
                                #request.getParameter('cardStatus').equals('deletionSuccessful')}"
                   th:text="#{card.deleted.successfully}">
            </label>
            <div class="row">
              <div class="col-12 col-sm-6 col-lg-4" style="padding-bottom: 15px" th:each="card : ${cards}">
                <div class="account-card account-card-primary text-white rounded p-3 mb-4 mb-lg-0">
                  <p class="text-4" th:text="${card.getCardNumber()}"></p>
                  <p class="d-flex align-items-center"> <span class="account-card-expire text-uppercase d-inline-block opacity-6 mr-2">Valid<br>
                    thru<br>
                    </span> <span class="text-4 opacity-9" th:text="${card.getExpirationDate()}"></span> <span class="bg-light text-0 text-body font-weight-500 rounded-pill d-inline-block px-2 line-height-4 opacity-8 ml-auto"></span> </p>
                  <p class="d-flex align-items-center m-0"> <span class="text-uppercase font-weight-500" th:text="${card.getOwnerName()}"></span></p>

                  <div class="account-card-overlay rounded" th:unless="${userDTO.blocked}">
                    <a th:href="@{/user/{userId}/cards/{cardId}/update (userId = ${userDTO.getId()}, cardId = ${card.getCardId()})}" class="text-light btn-link mx-2 edit-card-details-class">

                      <span class="mr-1"><i class="fas fa-edit"></i></span>Edit</a>
                    <a th:href="@{/user/{userId}/cards/{cardId} (userId = ${userDTO.getId()}, cardId = ${card.getCardId()})}" class="text-light btn-link mx-2">
                      <span class="mr-1"><i class="fas fa-minus-circle"></i></span>Delete</a>
                  </div>
                  <div class="account-card-overlay rounded" th:if="${userDTO.blocked}">
                    <div class="text-light mx-2">
                      <span class="mr-1" th:text="#{user.blocked}"></span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="ol-12 col-sm-6 col-lg-4 rounded" th:unless="${userDTO.blocked}">
                <a href="" data-target="#add-new-card-details" data-toggle="modal" class="account-card-new d-flex align-items-center rounded h-100 p-3 mb-4 mb-lg-0">
                <p class="w-100 text-center line-height-4 m-0"> <span class="text-3"><i class="fas fa-plus-circle"></i></span> <span class="d-block text-body text-3">Add New Card</span> </p>
                </a>
              </div>
            </div>
          </div>
          <!-- Edit Card Details Modal
          ================================== -->

          <!-- Add New Card Details Modal
          ================================== -->
          <div id="add-new-card-details" class="modal fade" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title font-weight-400">Add a Card</h5>
                  <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body p-4">
                  <label class="col-form-label error-message" id="addCardErrorMessage"></label>

                  <form id="addCard" method="post" onsubmit="return validateAddCardForm()"
                        th:action="@{/user/{id}/cards (id = ${userDTO.getId()})}" th:object="${newCardDTO}">
                    <div class="form-group">
                      <label for="cardNumberAddCard">Card Number</label>
                      <input type="text" th:field="*{cardNumber}" class="form-control" id="cardNumberAddCard" required
                             value="" placeholder="Card Number" minlength="16" maxlength="16">
                    </div>
                    <div class="form-row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label for="ExpiryDateAddCard">Expiry Date</label>
                          <input id="ExpiryDateAddCard" th:field="*{expirationDate}" type="text" class="form-control" required
                                 value="" placeholder="MM/YY">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label for="cvcNumberAddCard">CVC Number</label>
                          <input id="cvcNumberAddCard" th:field="*{cvc}" type="password" class="form-control"  required
                                 value="" placeholder="CVC (3 digits)" minlength="3" maxlength="3">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="cardHolderName">Cardholder Name</label>
                      <input type="text" th:field="*{ownerName}" class="form-control" id="cardHolderName" required
                             value="" placeholder="Cardholder Name">
                    </div>
                    <button class="btn btn-primary btn-block" onclick="validateAddCardForm()" type="submit">Add Card</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Credit or Debit Cards End -->
        </div>
        <!-- Middle Panel End -->
      </div>
    </div>
  </div>
  <!-- Content end -->
  <div id="edit-card-details" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
    </div>
  </div>
</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/daterangepicker/moment.min.js"></script>
<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/validation.js"></script>
<script>
  $('.edit-card-details-class').on('click', function (e) {
    e.preventDefault();
    $('#edit-card-details').modal('show').find('.modal-content').load($(this).attr('href'));
  })
</script>
</body>
</html>