<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="/images/favicon.png" rel="icon"/>
    <title>Virtual Wallet - Deposit Money</title>

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
          type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-select/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/currency-flags/css/currency-flags.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    <header th:replace="fragments/fragments ::header"></header>
    <!-- Header End -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">

                <!-- Left Panel
        ============================================= -->
                <aside class="col-lg-3">

                    <!-- Profile Details
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4"><img class="rounded-circle profile-pic"
                                                                  th:src="${userDTO.getImageUrl()}" alt="">
                        </div>
                        <p class="text-3 font-weight-500 mb-2" th:text="#{user.greeting} +  *{userDTO.username}"></p>
                    </div>
                    <!-- Profile Details End -->

                    <!-- Available Balance
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                        <h3 class="text-9 font-weight-400" th:text="${totalBalance} + ' BGN'"></h3>
                        <p class="mb-2 text-muted opacity-8" th:text="#{total.balance}"></p>
                    </div>
                    <!-- Available Balance End -->
                </aside>
                <!-- Left Panel End -->

                <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                    <h2 class="font-weight-400 text-center mt-3 mb-4">Deposit Money</h2>
                    <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                        <!-- Deposit Money Form
                        ============================================= -->
                        <form id="form-send-money" method="post" th:action="@{/deposit}"
                              th:object="${cardTransactionDTO}" onsubmit="uuidV4()">
                            <input type="hidden" id="idempotencyKey" name="idempotencyKey">

                            <div class="form-group" th:if="${#request.getParameter('status') != null &&
                                #request.getParameter('status').equals('insufficientFunds')}">
                                <i class="error-message" th:text="#{insufficient.funds.in.card}"></i>
                            </div>

                            <div class="form-group">
                                <label for="cardType" th:if="${userCards.size()} > 0">Credit/Debit Card</label>
                                <select th:field="*{cardId}" id="cardType" class="custom-select" required
                                        th:if="${userCards.size()} > 0">
                                    <option th:each="card : ${userCards}" th:value="${card.cardId}"
                                            th:text="${card.cardNumber}"></option>
                                </select>
                                <label for="addCardButton" th:unless="${userCards.size() > 0}">You haven't added any
                                    cards yet. Click the link below.</label>
                                <button class="btn btn-primary btn-block" id="addCardButton"
                                        th:unless="${userCards.size() > 0}">Add Card
                                </button>
                            </div>

                            <div class="form-group">
                                <label for="walletType">Wallet</label>
                                <select th:field="*{receivingWalletId}" id="walletType" class="custom-select"
                                        required>
                                    <option th:each="userWallet : ${userWallets}" th:value="${userWallet.wallet.id}"
                                            th:text="${userWallet.wallet.name}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="youSend">Amount</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="youSend"
                                           th:field="${cardTransactionDTO.amount}" min="0.01" step="0.01" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text">BGN</span>
                                    </div>
                                    <input type="hidden" th:value="BGN" name="currency">
                                </div>
                            </div>

                            <div class="row">
                                <label for="description">Description</label>
                                <textarea th:field="*{description}" class="form-control" rows="4" id="description"
                                          required placeholder="Payment Description"></textarea>
                            </div>

                            <button class="btn btn-primary btn-block">Continue</button>
                        </form>
                        <!-- Deposit Money Form end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="/js/theme.js"></script>
<script>
    function uuidV4() {
        document.getElementById('idempotencyKey').value =
            ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16));
    }
</script>
<script type="text/javascript">
    document.getElementById("addCardButton").onclick = function () {
        location.href = "/user/me/cards";
    };
</script>
</body>
</html>