<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="/images/favicon.png" rel="icon"/>
    <title>Virtual Wallet - Deposit Money Confirmation</title>
    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
          type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-select/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/currency-flags/css/currency-flags.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    <header th:replace="fragments/fragments :: header"></header>
    <!-- Header End -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">

                <aside class="col-lg-3">

                    <!-- Profile Details
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4"> <img class="rounded-circle profile-pic" th:src="${userDTO.getImageUrl()}" alt="">
                        </div>
                        <p class="text-3 font-weight-500 mb-2" th:text="#{user.greeting} +  *{userDTO.username}"></p>
                    </div>
                    <!-- Profile Details End -->

                    <!-- Available Balance
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                        <h3 class="text-9 font-weight-400" th:text="${totalBalance} + ' BGN'"></h3>
                        <p class="mb-2 text-muted opacity-8" th:text="#{total.balance}"></p>
                    </div>
                    <!-- Available Balance End -->
                </aside>

                <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                    <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                        <h2 class="text-5 text-center font-weight-400 mb-3">Card Transaction Summary</h2>
                        <hr>
                        <!-- Deposit Money Confirm
                        ============================================= -->
                        <form id="form-send-money" method="post" th:action="@{/deposit/confirm}"
                              th:object="${cardTransactionDTO}">
                            <div class="form-group" th:if="${#request.getParameter('status') != null &&
                                #request.getParameter('status').equals('connectionFailed')}">
                                <i class="error-message" th:text="#{connection.api.failed}"></i>
                            </div>
                            <div class="alert alert-info rounded shadow-sm py-3 px-4 px-sm-2 mb-4">
                                <div class="row">
                                    <p class="col-sm-5 opacity-7 text-sm-right mb-0 mb-sm-3">Account Name:</p>
                                    <p class="col-sm-7" th:text="${userDTO.getUsername()}"></p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-5 opacity-7 text-sm-right mb-0 mb-sm-3">To Wallet:</p>
                                    <p class="col-sm-7" th:text="${cardTransactionDTO.getReceivingWallet().getName()}"></p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-5 opacity-7 text-sm-right mb-0 mb-sm-3">Card Number:</p>
                                    <p class="col-sm-7"
                                       th:text="#{hidden.card.number} + ${lastFourDigitsOfCardNumber}"></p>
                                </div>
                            </div>
                            <hr>
                            <h5 class="text-5 text-center font-weight-400 mb-3">Description</h5>
                            <div class="row">
                                <textarea disabled th:text="*{description}" class="form-control" rows="4" id="description"></textarea>
                            </div>
                            <hr>
                            <p class="font-weight-500">Total<span class="text-3 float-right"
                                                                  th:text="${cardTransactionDTO.amount} / 100 + ' ' + #{bulgarian.currency}"></span>
                            </p>
                            <button class="btn btn-primary btn-block">Confirm</button>
                        </form>
                        <!-- Deposit Money Confirm end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content end -->
</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="/js/theme.js"></script>
</body>
</html>