<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Virtual Wallet - Error 404</title>
</head>
<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/error.css"/>
<link href="/images/favicon.png" rel="icon"/>
<body class="loading">

<h1>404</h1>
<h2 th:text="#{error-404}"></h2>

<div class="gears">
    <div class="gear one">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="gear two">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="gear three">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <h2><a th:href="@{/index}">Back To Homepage</a></h2>

</div>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="/js/theme.js" type="text/javascript"></script>
</body>
</html>
