<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="/images/favicon.png" rel="icon"/>
    <title>Virtual Wallet - Login</title>

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
          type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<div id="main-wrapper" class="h-100">
    <div class="container-fluid px-0 h-100">
        <div class="row no-gutters h-100">
            <!-- Welcome Text
            ============================================= -->
            <div class="col-md-6">
                <div class="hero-wrap d-flex align-items-center h-100">
                    <div class="hero-mask opacity-8 bg-primary"></div>
                    <div class="hero-bg hero-bg-scroll" style="background-image:url('./images/bg/image-3.jpg');"></div>
                    <div class="hero-content mx-auto w-100 h-100 d-flex flex-column">
                        <div class="row no-gutters">
                            <div class="col-10 col-lg-9 mx-auto">
                                <div class="logo mt-5 mb-5 mb-md-0"><a class="d-flex" href="/"
                                                                       title="Virtual Wallet"><img
                                        src="images/logo-light.png" alt="Virtual Wallet"></a></div>
                            </div>
                        </div>
                        <div class="row no-gutters my-auto">
                            <div class="col-10 col-lg-9 mx-auto">
                                <h1 class="text-11 text-white mb-4">Welcome back!</h1>
                                <p class="text-4 text-white line-height-4 mb-5">We are glad to see you again! Instant
                                    deposits, withdrawals & payouts trusted by millions worldwide.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Welcome Text End -->

            <!-- Login Form
            ============================================= -->
            <div class="col-md-6 d-flex align-items-center">
                <div class="container my-4">
                    <div class="row">
                        <div class="col-11 col-lg-9 col-xl-8 mx-auto">
                            <h3 class="font-weight-400 mb-4">Log In</h3>

                            <i class="error-message" th:if="${param.error}" th:text="#{login.error}">Login Error</i>
                            <br th:if="${param.error}">

                            <i class="success-message"
                               th:if="${#request.getParameter('registration') != null && #request.getParameter('registration').equals('successful')}"
                               th:text="#{registered.successfully}">Successful Registration</i>
                            <br th:if="${#request.getParameter('registration') != null && #request.getParameter('registration').equals('successful')}">

                            <i class="error-message" id="loginErrorMessage"></i>
                            <form id="loginForm" method="post" th:action="@{/authenticate}">
                                <div class="form-group" onsubmit="return validateLoginForm()">
                                    <label for="loginUsername">Username</label>
                                    <input type="text" class="form-control inputFieldNoSpaces" name="username"
                                           id="loginUsername"
                                           required placeholder="Enter Your Username" minlength="4" maxlength="15"
                                           title="Your username should contain at least 4 symbols.">
                                </div>
                                <div class="form-group">
                                    <label for="loginPassword">Password</label>
                                    <input type="password" class="form-control inputFieldNoSpaces" name="password"
                                           id="loginPassword"
                                           required placeholder="Enter Password" minlength="8" maxlength="25"
                                           title="Your password should be at least 8 symbols and contain a letter and a digit">
                                </div>
                                <button class="btn btn-primary btn-block my-4" onclick="return validateLoginForm()"
                                        type="submit">Login
                                </button>
                            </form>
                            <p class="text-3 text-center text-muted">Don't have an account? <a class="btn-link"
                                                                                               href="signup">Sign Up</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Login Form End -->
        </div>
    </div>
</div>

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
<script src="/js/validation.js"></script>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/validation.js"></script>
</body>
</html>