<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="/images/favicon.png" rel="icon"/>
    <title>Virtual wallet - Send Money</title>

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
          type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-select/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/currency-flags/css/currency-flags.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>

    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    <header th:replace="fragments/fragments :: header"></header>
    <!-- Header End -->


    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">
                <!-- Left Panel
                ============================================= -->
                <aside class="col-lg-3">

                    <!-- Profile Details
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4">
                            <img class="rounded-circle profile-pic" th:src="${userDTO.getImageUrl()}" alt="">
                        </div>
                        <p class="text-3 font-weight-500 mb-2" th:text="#{user.greeting} +  ${userDTO.username}"></p>
                    </div>
                    <!-- Profile Details End -->

                    <!-- Available Balance
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                        <h3 class="text-9 font-weight-400" th:text="${totalBalance} + ' BGN'"></h3>
                        <p class="mb-2 text-muted opacity-8" th:text="#{total.balance}"></p>
                    </div>
                    <!-- Available Balance End -->

                </aside>
                <!-- Left Panel End -->

                <!-- Middle Panel
                ============================================= -->
                <div class="col-lg-9">
                    <h2 class="font-weight-400 text-center mt-3">Send Money</h2>
                    <!-- Select User
                    ============================================= -->
                    <div class="col-md-8 col-lg-7 col-xl-7 mx-auto">
                        <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4" th:if="${userDTO.blocked}">
                            <h4 class="text-5 font-weight-400 mb-3" th:text="#{user.blocked}">text</h4>
                        </div>
                        <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4" th:unless="${userDTO.blocked}">
                            <h3 class="text-5 font-weight-400 mb-3">Select Recipient</h3>
                            <!-- Select recipient Form
                            ============================================= -->
                            <form id="find-user" method="get">
                                <div class="input-group">
                                    <input class="form-control" data-bv-field="userDetail" id="userDetail"
                                           th:type="text" th:name="userDetail"
                                           placeholder="Enter username/e-mail/phone number">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-block" type="button"
                                                th:type="submit" th:value="Search"
                                                th:action="@{/transactions/new}">Search
                                        </button>
                                    </div>
                                </div>

                                <!-- Users List
                                =============================== -->
                                <div class="row py-3">
                                    <div class="transaction-list">
                                        <div class="transaction-item px-4 py-1" th:if="${users.isEmpty()}">
                                        <span class="d-block text-4">No results for "<span class="d-inline"
                                                                                           th:text="${userDetail}"></span>".</span>
                                        </div>
                                        <div class="transaction-item px-4 py-1" th:each="user : ${users}">
                                            <div class="row align-items-center flex-row">
                                                <div class="col-2 col-md-2 thumbnail d-block">
                                                    <img th:src="${user.getImageUrl()}" alt="Image"
                                                         class="img-fluid">
                                                </div>
                                                <div class="col col-md-6"><span class="d-block text-4"
                                                                                th:text="${user.getUsername()}">Username</span>
                                                </div>
                                                <div class="col col-md-4 align-items-end">
                                                <span th:unless="${#authentication.getName()==user.username}">
                                                    <a class="btn btn-primary btn-sm active" role="button"
                                                       th:href="@{/transactions/new/step2 (recipientId=${user.getUserId()})}">Select</a>
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- User List End -->
                                <!-- Pagination
                            ============================================= -->
                                <ul class="pagination justify-content-center mt-4 mb-0"
                                    th:unless="${users.isEmpty()}">
                                    <li class="page-item" th:each="i: ${#numbers.sequence(0, users.totalPages - 1)}">
                                        <span class="page-item active" th:if="${users.number == i}">
                                            <a class="page-link" href="#"> [[${i}+1]]</a>
                                        </span>
                                        <span class="page-item" th:unless="${users.number == i}">
                                            <a class="page-link" th:href="@{/transactions/new (userDetail=${userDetail},
                                        page=${i},size=${users.size})}">[[${i}+1]]</a>
                                        </span>
                                    </li>
                                </ul>
                                <!-- Paginations end -->
                            </form>
                            <!-- Send Money Form end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Content end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i
        class="fa fa-chevron-up"></i></a>

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="/js/theme.js"></script>
</body>
</html>