<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="/images/favicon.png" rel="icon"/>
    <title>Virtual wallet - Send Money Confirmation</title>

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
          type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-select/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/currency-flags/css/currency-flags.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    <header th:replace="fragments/fragments :: header"></header>
    <!-- Header End -->


    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">
                <!-- Left Panel
                ============================================= -->
                <aside class="col-lg-3">

                    <!-- Profile Details
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4">
                            <img class="rounded-circle profile-pic" th:src="${userDTO.getImageUrl()}" alt="">
                        </div>
                        <p class="text-3 font-weight-500 mb-2" th:text="#{user.greeting} +  ${userDTO.username}"></p>
                    </div>
                    <!-- Profile Details End -->

                    <!-- Available Balance
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                        <h3 class="text-9 font-weight-400" th:text="${totalBalance} + ' BGN'"></h3>
                        <p class="mb-2 text-muted opacity-8" th:text="#{total.balance}"></p>
                    </div>
                    <!-- Available Balance End -->

                </aside>
                <!-- Left Panel End -->

                <!-- Middle Panel
                ============================================= -->
                <div class="col-lg-9">
                    <h2 class="font-weight-400 text-center mt-3">Send Money</h2>
                    <div class="col-md-8 col-lg-7 col-xl-7 mx-auto">
                        <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4"
                             sec:authorize="isAuthenticated()"
                             th:unless="${#authentication.getName()==transaction.sendingUser.username}">
                            <h3 class="text-5 font-weight-400 mb-3 error-message">Operation not allowed!</h3>
                        </div>
                        <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4"
                             sec:authorize="isAuthenticated()"
                             th:if="${#authentication.getName()==transaction.sendingUser.username}">
                            <h3 class="text-5 font-weight-400 mb-3">Transaction Details</h3>
                            <!-- Send Money Form
                            ============================================= -->
                            <form id="form-send-money" method="post" th:object="${transaction}">
                                <div class="form-group">
                                    <label for="recipientUsername">Recipient</label>
                                    <input type="text" class="form-control" id="recipientUsername"
                                           th:value="*{receivingUser.getUsername()}" readonly>
                                </div>
                                <div>
                                    <input type="hidden"
                                           th:field="*{transactionId}" th:value="*{transactionId}">
                                    <input type="hidden"
                                           th:field="*{receivingUser}" th:value="*{receivingUser}">
                                    <input type="hidden"
                                           th:field="*{sendingUser}" th:value="*{sendingUser}">
                                </div>

                                <div class="form-group">
                                    <label for="youSend">Amount</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-bv-field="youSend" id="youSend"
                                               required
                                               th:value="${transaction.amount}" readonly>

                                        <div class="input-group-append">
                                      <span class="input-group-text p-0">
                                        <span data-icon="currency-flag currency-flag-bgn mr-1"
                                              data-subtext="Bulgarian lev"></span>
                                        BGN
                                      </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="senderWallet">From wallet</label>
                                    <input type="text" class="form-control" id="senderWallet"
                                           th:value="*{senderWallet.getName()}" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" rows="4" id="description"
                                              th:field="*{description}"
                                              placeholder="Payment Description" readonly></textarea>
                                </div>


                                <hr>
                                <button class="btn btn-primary btn-block" type="submit"
                                        th:action="@{/transactions/new/confirm/{path} (path=*{transactionId})}">Confirm
                                </button>
                            </form>
                            <br>
                            <a class="btn btn-primary btn-block" role="button"
                               th:href="@{/transactions/new/update/{path} (path=${transaction.transactionId})}">Change</a>
                            <!-- Send Money Form end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="/js/theme.js"></script>
</body>
</html>