<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="/images/favicon.png" rel="icon"/>
    <title>Virtual wallet - Send Money Details</title>

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
          type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-select/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/currency-flags/css/currency-flags.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>

    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    <header th:replace="fragments/fragments :: header"></header>
    <!-- Header End -->


    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">
                <!-- Left Panel
                ============================================= -->
                <aside class="col-lg-3">

                    <!-- Profile Details
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4">
                            <img class="rounded-circle profile-pic" th:src="${userDTO.getImageUrl()}" alt="">
                        </div>
                        <p class="text-3 font-weight-500 mb-2" th:text="#{user.greeting} +  ${userDTO.username}"></p>
                    </div>
                    <!-- Profile Details End -->

                    <!-- Available Balance
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                        <h3 class="text-9 font-weight-400" th:text="${totalBalance} + ' BGN'"></h3>
                        <p class="mb-2 text-muted opacity-8" th:text="#{total.balance}"></p>
                    </div>
                    <!-- Available Balance End -->

                </aside>
                <!-- Left Panel End -->

                <div class="col-lg-9">
                    <h2 class="font-weight-400 text-center mt-3">Send Money</h2>
                <div class="col-md-8 col-lg-7 col-xl-7 mx-auto">
                    <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                        <h3 class="text-5 font-weight-400 mb-3">Transaction Details</h3>
                        <!-- Send Money Form
                        ============================================= -->
                        <form id="form-send-money" method="post" th:object="${transactionDTO}">
                            <div class="form-group">
                                <label for="recipientUsername">Recipient</label>
                                <input type="text" class="form-control" id="recipientUsername"
                                       th:value="${recipient.username}" readonly>
                            </div>

                            <div>
                                <input type="hidden" th:value="${recipient.getUserId()}" name="receiverId">
                                <input type="hidden" th:value="${senderId}" name="senderId">
                            </div>

                            <div class="form-group">
                                <label for="youSend">Amount</label>
                                <p class="col-sm-9">
                                    <label class="col-form-label error-message"
                                           th:if="${#request.getParameter('status') != null &&
                                #request.getParameter('status').equals('insufficientAmount')}"
                                           th:text="#{amount.insufficient}"></label>
                                </p>
                                <div class="input-group">
                                    <input type="number" class="form-control" data-bv-field="youSend" id="youSend"
                                           min="0.01" step="0.01" th:field="*{amount}" required>
                                    <div class="input-group-append">
                                      <span class="input-group-text p-0">
                                        <span data-icon="currency-flag currency-flag-bgn mr-1"
                                              data-subtext="Bulgarian lev"></span>
                                        BGN
                                      </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="senderWallet">From wallet</label>
                                <select class="form-control" id="senderWallet" name="senderWallet"
                                        th:field="*{senderWallet}" required>
                                    <option th:each="uw : ${senderWallets}"
                                            th:value="${uw.wallet.id}"
                                            th:text="${uw.wallet.name}"
                                            th:if="${uw.wallet.getId()} == ${defaultWalletId}" selected>
                                    </option>
                                    <option th:each="uw : ${senderWallets}"
                                            th:value="${uw.wallet.id}"
                                            th:text="${uw.wallet.name}"
                                            th:unless="${uw.wallet.getId()} == ${defaultWalletId}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" rows="4" id="description"
                                          name="description" th:field="*{description}"
                                          placeholder="Payment Description"></textarea>
                            </div>


                            <hr>
                            <button class="btn btn-primary btn-block" type="submit"
                                    th:action="@{/transactions/new/step2}">Continue
                            </button>
                        </form>
                        <!-- Send Money Form end -->
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="/js/theme.js"></script>
</body>
</html>