<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
<link href="/images/favicon.png" rel="icon" />
<title>Virtual Wallet - Sign up</title>

<!-- Web Fonts
============================================= -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i' type='text/css'>

<!-- Stylesheet
============================================= -->
<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css" />
<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
<link rel="stylesheet" type="text/css" href="/css/custom.css"/>
</head>
<body>
<!-- Preloader -->
<div id="preloader">
  <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<div id="main-wrapper" class="h-100">
  <div class="container-fluid px-0 h-100">
    <div class="row no-gutters h-100">
      <div class="col-md-6">
        <!-- Get Verified! Text
        ============================================= -->
        <div class="hero-wrap d-flex align-items-center h-100">
          <div class="hero-mask opacity-8 bg-primary"></div>
          <div class="hero-bg hero-bg-scroll" style="background-image:url('./images/bg/image-3.jpg');"></div>
          <div class="hero-content mx-auto w-100 h-100 d-flex flex-column">
            <div class="row  no-gutters">
              <div class="col-10 col-lg-9 mx-auto">
                <div class="logo mt-5 mb-5 mb-md-0"> <a class="d-flex" href="/" title="Virtual Wallet"><img src="/images/logo-light.png" alt="Virtual Wallet"></a> </div>
              </div>
            </div>
            <div class="row my-auto">
              <div class="col-10 col-lg-9 mx-auto">
                <h1 class="text-11 text-white mb-4">Join us!</h1>
                <p class="text-4 text-white line-height-4 mb-5">Every day, Virtual Wallet makes its customers happy.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Get Verified! Text End -->
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <!-- SignUp Form
        ============================================= -->
        <div class="container my-4">
          <div class="row">
            <div class="col-11 col-lg-9 col-xl-8 mx-auto">
              <h3 class="font-weight-400 mb-4">Sign Up</h3>
              <form id="loginForm" method="post" onsubmit="return validateUserSignupForm()" th:action="@{/signup}" th:object="${user}">
                <div class="row">
                  <p class="col-sm-9">
                    <label class="col-form-label error-message"
                           th:if="${#request.getParameter('status') != null &&
                                    #request.getParameter('status').equals('duplicateEntry')}"
                           th:text="#{duplicate.registration.entry}">
                    </label>
                    <br th:if="${#request.getParameter('status') != null &&
                                    #request.getParameter('status').equals('duplicateEntry')}">

                    <label class="col-form-label error-message"
                           th:if="${#request.getParameter('status') != null &&
                                    #request.getParameter('status').equals('passwordMismatch')}"
                           th:text="#{password.mismatch}">
                    </label>
                    <br th:if="${#request.getParameter('status') != null &&
                                    #request.getParameter('status').equals('passwordMismatch')}">

                    <label class="col-form-label error-message" id="signupErrorMessage"></label>
                  </p>
                </div>
                <div class="form-group">
                  <label for="registerUsername">Username</label>
                  <input type="text" class="form-control inputFieldNoSpaces" id="registerUsername" required placeholder="Enter Your Username"
                         th:field="*{username}" minlength="5" maxlength="15">
                </div>
                <div class="form-group">
                  <label for="emailAddress">Email Address</label>
                  <input type="email" class="form-control inputFieldNoSpaces" id="emailAddress" required placeholder="Enter Your Email"
                         th:field="*{email}" maxlength="50" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                </div>
                <div class="form-group">
                  <label for="phoneNumber">Phone Number</label>
                  <input type="text" class="form-control inputFieldNoSpaces" id="phoneNumber" required placeholder="Enter Your Phone Number"
                         th:field="*{phone}" minlength="10" maxlength="10">
                </div>
                <div class="form-group">
                  <label for="registerPassword">Password</label>
                  <input type="password" class="form-control inputFieldNoSpaces" id="registerPassword" required placeholder="Enter Password"
                         th:field="*{password}" minlength="8" maxlength="25">
                </div>
                <div class="form-group">
                  <label for="registerPasswordConfirmation">Password Confirmation</label>
                  <input type="password" class="form-control inputFieldNoSpaces" id="registerPasswordConfirmation"
                         required placeholder="Enter Password Confirmation" th:field="*{passwordConfirmation}"
                         minlength="8" maxlength="25">
                </div>
                <button class="btn btn-primary btn-block my-4" onclick="return validateUserSignupForm()" type="submit">Sign Up</button>
              </form>
              <p class="text-3 text-center text-muted">Already have an account? <a class="btn-link" href="login">Log In</a></p>
            </div>
          </div>
        </div>
        <!-- SignUp Form End -->
      </div>
    </div>
  </div>
</div>

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/validation.js"></script>
</body>
</html>