<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="/images/favicon.png" rel="icon"/>
    <title>Virtual Wallet - User</title>

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
          type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    <header th:replace="fragments/fragments ::header"></header>
    <!-- Header End -->

    <!-- Secondary Menu
    ============================================= -->
    <div th:replace="fragments/fragments :: userMenu"></div>
    <!-- Secondary Menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4" th:object="${userDTO}">
        <div class="container">
            <div class="row">

                <!-- Left Panel
                ============================================= -->
                <aside class="col-lg-3">

                    <!-- Profile Details
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4"><img class="rounded-circle profile-pic"
                                                                  th:src="${userDTO.getImageUrl()}" alt="">
                            <div class="profile-thumb-edit custom-file bg-primary text-white" data-toggle="tooltip"
                                 title="Change Profile Picture"><i class="fas fa-camera position-absolute"></i>
                                <form th:action="@{/user/{id}/changeProfilePicture (id = ${userDTO.getId()})}"
                                      method="post" enctype="multipart/form-data">
                                    <input type="file" class="custom-file-input" id="image" name="image"
                                           onchange="form.submit()">
                                </form>
                            </div>
                        </div>
                        <p class="text-3 font-weight-500 mb-2" th:text="#{user.greeting} +  *{username}"></p>
                    </div>
                    <!-- Profile Details End -->

                    <!-- Available Balance
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                        <h3 class="text-9 font-weight-400" th:text="${totalBalance} + ' BGN'"></h3>
                        <p class="mb-2 text-muted opacity-8" th:text="#{total.balance}"></p>
                    </div>
                    <!-- Available Balance End -->

                </aside>
                <!-- Left Panel End -->

                <!-- Middle Panel
                ============================================= -->
                <div class="col-lg-9">

                    <!-- Personal Details
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-4 mb-4">
                        <h3 class="text-5 font-weight-400 mb-3">Personal Details <a href="#edit-personal-details"
                                                                                    data-toggle="modal"
                                                                                    class="float-right text-1 text-uppercase text-muted btn-link"><i
                                class="fas fa-edit mr-1"></i>Edit</a></h3>
                        <div class="row">
                            <p class="col-sm-9">
                                <label class="col-form-label success-message"
                                       th:if="${#request.getParameter('detailsStatus') != null &&
                                #request.getParameter('detailsStatus').equals('successful')}"
                                       th:text="#{personal.details.changed.successfully}">

                                </label>
                                <label class="col-form-label error-message"
                                       th:if="${#request.getParameter('detailsStatus') != null &&
                                #request.getParameter('detailsStatus').equals('duplicateEntry')}"
                                       th:text="#{duplicate.entry}"></label>
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Username</p>
                            <p class="col-sm-9" th:text="${userDTO.getUsername()}"></p>
                        </div>
                        <div class="row">
                            <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Full Name</p>
                            <p class="col-sm-9" th:text="${userDTO.getFullName()}"></p>
                        </div>
                        <div class="row">
                            <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Email<span
                                    class="text-muted font-weight-500"></span></p>
                            <p class="col-sm-9" th:text="${userDTO.getEmail()}"></p>
                        </div>
                        <div class="row">
                            <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Phone <span
                                    class="text-muted font-weight-500"></span></p>
                            <p class="col-sm-9" th:text="${userDTO.getPhone()}"></p>
                        </div>
                    </div>
                    <!-- Personal Details Modal
                    ================================== -->
                    <div id="edit-personal-details" class="modal fade " role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-400">Personal Details</h5>
                                    <button type="button" class="close font-weight-400" data-dismiss="modal"
                                            aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body p-4">
                                    <form id="personaldetails" method="post"
                                          th:action="@{/user/{path}/changePersonalDetails (path=${userDTO.getId()})}"
                                          th:object="${userPersonalDetailsDTO}"
                                          onsubmit="return validateUserPersonalDetailsChange()">
                                        <div class="row">
                                            <div class="col-12">
                                              <p>
                                                <label class="col-form-label error-message"
                                                       id="editPersonalDetailsErrorMessage"></label>
                                              </p>
                                                <div class="form-group">
                                                    <label for="username">Username</label>
                                                    <input type="text" th:value="${userDTO.getUsername()}"
                                                           class="form-control" id="username"
                                                           required placeholder="Username" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="fullName">Full Name</label>
                                                    <input type="text" name="fullName"
                                                           th:value="${userDTO.getFullName()}" class="form-control"
                                                           id="fullName">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="email">Email ID <span
                                                            class="text-muted font-weight-500"></span></label>
                                                    <input type="email" name="email" th:value="${userDTO.getEmail()}"
                                                           class="form-control inputFieldNoSpaces" id="email"
                                                           maxlength="50">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="phoneNumberEdit">Phone <span
                                                            class="text-muted font-weight-500"></span></label>
                                                    <input type="text" name="phone" th:value="${userDTO.getPhone()}"
                                                           class="form-control inputFieldNoSpaces" id="phoneNumberEdit"
                                                           minlength="10" maxlength="10">
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-block mt-2" onsubmit="return validateUserPersonalDetailsChange()" type="submit">Save Changes
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Security
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-4">
                        <h3 class="text-5 font-weight-400 mb-3">Security <a href="#change-password" data-toggle="modal"
                                                                            class="float-right text-1 text-uppercase text-muted btn-link"><i
                                class="fas fa-edit mr-1"></i>Edit</a></h3>
                        <div class="row">
                            <p class="col-sm-9">
                                <label class="col-form-label error-message"
                                       th:if="${#request.getParameter('passStatus') != null &&
                                #request.getParameter('passStatus').equals('wrongPassword')}"
                                       th:text="#{password.wrong}">
                                </label>
                                <label class="col-form-label error-message"
                                       th:if="${#request.getParameter('passStatus') != null &&
                                #request.getParameter('passStatus').equals('passwordMismatch')}"
                                       th:text="#{password.mismatch}">

                                </label>
                                <label class="col-form-label success-message"
                                       th:if="${#request.getParameter('passStatus') != null &&
                                #request.getParameter('passStatus').equals('successful')}"
                                       th:text="#{password.changed.successfully}"></label>
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">
                                <label class="col-form-label">Password</label>
                            </p>
                            <p class="col-sm-9">
                                <input type="password" class="form-control-plaintext" data-bv-field="password"
                                       id="password" value="EnterPassword">
                            </p>
                        </div>
                    </div>
                    <!-- Edit Details Modal
                    ================================== -->
                    <div id="change-password" class="modal fade " role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-400">Change Password</h5>
                                    <button type="button" class="close font-weight-400" data-dismiss="modal"
                                            aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body p-4">
                                    <p>
                                        <label class="col-form-label error-message"
                                               id="editPasswordErrorMessage"></label>
                                    </p>
                                    <form id="changePassword" method="post"
                                          th:action="@{/user/{path}/changePassword (path=${userDTO.getId()})}"
                                          th:object="${userPasswordChangeDTO}"
                                          onsubmit="return validateUserPasswordChange()">
                                        <div class="form-group">
                                            <label for="editExistingPassword">Confirm Current Password</label>
                                            <input type="password" th:field="*{oldPassword}"
                                                   class="form-control inputFieldNoSpaces"
                                                   id="editExistingPassword" required
                                                   placeholder="Enter Current Password"
                                                   minlength="8" maxlength="25">
                                        </div>
                                        <div class="form-group">
                                            <label for="editNewPassword">New Password</label>
                                            <input type="password" th:field="*{newPassword}"
                                                   class="form-control inputFieldNoSpaces"
                                                   id="editNewPassword" required placeholder="Enter New Password"
                                                   minlength="8" maxlength="25">
                                        </div>
                                        <div class="form-group">
                                            <label for="editConfirmNewPassword">Confirm New Password</label>
                                            <input type="password" th:field="*{newPasswordConfirmation}"
                                                   class="form-control inputFieldNoSpaces"
                                                   id="editConfirmNewPassword" required
                                                   placeholder="Enter Confirm New Password"
                                                   minlength="8" maxlength="25">
                                        </div>
                                        <button class="btn btn-primary btn-block mt-4" onclick="return validateUserPasswordChange()" type="submit">Update
                                            Password
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Security End -->

                </div>
                <!-- Middle Panel End -->
            </div>
        </div>
    </div>
    <!-- Content end -->

</div>
<!-- Document Wrapper end -->

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/daterangepicker/moment.min.js"></script>
<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<script>
    $(function () {
        'use strict';
        // Birth Date
        $('#birthDate').daterangepicker({
            singleDatePicker: true,
            "showDropdowns": true,
            autoUpdateInput: false,
            maxDate: moment().add(0, 'days'),
        }, function (chosen_date) {
            $('#birthDate').val(chosen_date.format('MM-DD-YYYY'));
        });
    });
</script>
<script src="/js/theme.js"></script>
<script src="/js/validation.js"></script>
</body>
</html>