<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="/images/favicon.png" rel="icon"/>
    <title>Virtual wallet</title>

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
          type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    <header th:replace="/fragments/fragments :: header"></header>
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div th:replace="fragments/fragments :: userMenu"></div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">
                <!-- Left Panel
                ============================================= -->
                <aside class="col-lg-3">

                    <!-- Profile Details
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4">
                            <img class="rounded-circle profile-pic" th:src="${userDTO.getImageUrl()}" alt="">
                        </div>
                        <p class="text-3 font-weight-500 mb-2" th:text="#{user.greeting} +  ${userDTO.username}"></p>
                    </div>
                    <!-- Profile Details End -->

                    <!-- Available Balance
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                        <h3 class="text-9 font-weight-400" th:text="${totalBalance} + ' BGN'"></h3>
                        <p class="mb-2 text-muted opacity-8" th:text="#{total.balance}"></p>
                    </div>
                    <!-- Available Balance End -->

                </aside>
                <!-- Left Panel End -->

                <!-- Middle Panel
                ============================================= -->
                <div class="col-lg-9">
                    <div class="container">
                        <h2 class="font-weight-400 text-center mt-3">Edit Wallet</h2>
                        <div class="row">
                            <div class="col-md-8 col-lg-7 col-xl-7 mx-auto">
                                <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                                    <h3 class="text-5 font-weight-400 mb-3">Wallet Details</h3>
                                    <!-- Edit Wallet Form
                                    ============================================= -->
                                    <form id="form-send-money" method="post" th:object="${updateUserWalletDTO}">
                                        <div class="form-group">
                                            <label for="walletName">Name</label>
                                            <input type="text" class="form-control" id="walletName"
                                                   name="walletName"
                                                   th:value="${userWallet.getWallet().getName()}">
                                        </div>
                                        <div class="form-group">
                                            <label for="userWalletId">ID</label>
                                            <input type="text" class="form-control" id="userWalletId"
                                                   th:value="${userWallet.getId()}" readonly>
                                        </div>
                                        <div>
                                            <input type="hidden"
                                                   name="userId" th:value="${userWallet.getUser().getUserId()}">
                                            <input type="hidden"
                                                   name="walletId" th:value="${userWallet.getWallet().getId()}">
                                        </div>

                                        <div class="form-group" th:unless ="${userWallet.getDefaultWallet()}">
                                            <div class="form-check-inline ">
                                                <label for="defaultWallet">Default Wallet: </label>
                                                <input type="checkbox" name="defaultWallet"
                                                       id="defaultWallet"
                                                        th:checked="${userWallet.defaultWallet}">
                                            </div>
                                        </div>

                                        <div th:if ="${userWallet.getDefaultWallet()}">
                                            <input type="hidden"
                                                   name="defaultWallet" th:value="${userWallet.getDefaultWallet()}">
                                        </div>



                                        <hr>
                                        <button class="btn btn-primary btn-block" type="submit"
                                                th:action="@{/user/{userId}/wallets/{uwId}
                                                (userId=${userDTO.getId()}, uwId=${userWallet.getId()})}">Save
                                        </button>
                                    </form>
                                </div>
                                <!-- Edit wallet End -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Middle Panel End -->
        </div>
    </div>
</div>

<!-- Content end -->


</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/daterangepicker/moment.min.js"></script>
<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<script>
    $(function () {
        'use strict';
        // Birth Date
        $('#birthDate').daterangepicker({
            singleDatePicker: true,
            "showDropdowns": true,
            autoUpdateInput: false,
            maxDate: moment().add(0, 'days'),
        }, function (chosen_date) {
            $('#birthDate').val(chosen_date.format('MM-DD-YYYY'));
        });
    });
</script>
<script src="/js/theme.js"></script>
</body>
</html>