<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="/images/favicon.png" rel="icon"/>
    <title>Virtual wallet - Wallets</title>

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
          type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    <header th:replace="/fragments/fragments :: header"></header>
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div th:replace="fragments/fragments :: userMenu"></div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">
                <!-- Left Panel
                ============================================= -->
                <aside class="col-lg-3">

                    <!-- Profile Details
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4">
                            <img class="rounded-circle profile-pic" th:src="${userDTO.getImageUrl()}" alt="">
                        </div>
                        <p class="text-3 font-weight-500 mb-2" th:text="#{user.greeting} +  ${userDTO.username}"></p>
                    </div>
                    <!-- Profile Details End -->

                    <!-- Available Balance
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                        <h3 class="text-9 font-weight-400" th:text="${totalBalance} + ' BGN'"></h3>
                        <p class="mb-2 text-muted opacity-8" th:text="#{total.balance}"></p>
                    </div>
                    <!-- Available Balance End -->

                </aside>
                <!-- Left Panel End -->

                <!-- Middle Panel
                ============================================= -->
                <div class="col-lg-9">

                    <!-- Wallets
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-4 mb-4">
                        <h3 class="text-5 font-weight-400 mb-4">Wallets</h3>
                        <label class="col-form-label success-message"
                               th:if="${#request.getParameter('walletStatus') != null &&
                                #request.getParameter('walletStatus').equals('creationSuccessful')}"
                               th:text="#{wallet.created.successfully}">
                        </label>
                        <label class="col-form-label success-message"
                               th:if="${#request.getParameter('walletStatus') != null &&
                                #request.getParameter('walletStatus').equals('removeSuccessful')}"
                               th:text="#{wallet.removed.successfully}">
                        </label>
                        <label class="col-form-label success-message"
                               th:if="${#request.getParameter('walletStatus') != null &&
                                #request.getParameter('walletStatus').equals('editSuccessful')}"
                               th:text="#{wallet.edited.successfully}">
                        </label>
                        <label class="col-form-label error-message"
                               th:if="${#request.getParameter('walletStatus') != null &&
                                #request.getParameter('walletStatus').equals('removeNotAllowed')}"
                               th:text="#{wallet.removed.notAllowed}">
                        </label>
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-4" th:each="userWallet : ${userWallets}"
                                 th:object="${userWallet}">
                                <div class="account-card account-card-primary text-white rounded mb-4 mb-lg-0">
                                    <div class="row no-gutters">
                                        <div class="col-3 d-flex justify-content-center p-3">
                                            <div class="my-auto text-center text-13"><i
                                                    class="fas fa-wallet"></i>
                                                <p class="bg-light text-0 text-body font-weight-500 rounded-pill d-inline-block px-2 line-height-4 opacity-8 mb-0"
                                                   th:if="*{getDefaultWallet()}">Default</p>
                                                <p class="bg-light text-0 text-body font-weight-500 rounded-pill d-inline-block px-2 line-height-4 opacity-8 mb-0"
                                                   th:if="*{getCreatedByUser()}">Own</p>
                                                <p class="bg-light text-0 text-body font-weight-500 rounded-pill d-inline-block px-2 line-height-4 opacity-8 mb-0"
                                                   th:unless="*{getCreatedByUser()}">Shared</p>
                                            </div>
                                        </div>
                                        <div class="col-9 border-left">
                                            <div class="py-4 my-2 pl-4">
                                                <p class="text-4 font-weight-500 mb-1">
                                                    <span>Name: </span><span th:text="*{getWallet().getName()}"></span>
                                                </p>
                                                <p class="text-2 opacity-9 mb-1">
                                                    <span>ID: </span><span th:text="*{getWallet().getId()}"></span>
                                                </p>
                                                <p class="text-2 opacity-9 mb-1">
                                                    <span>Balance: </span><span
                                                        th:text="${userWallet.getWallet().getBalance()}"></span>
                                                </p>
                                                <p class="text-2 opacity-9 mb-1">
                                                    <span>Type: </span><span
                                                        th:text="*{getWallet().getWalletType().getTypeName()}"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="account-card-overlay rounded" th:if="*{getCreatedByUser()}"
                                         th:unless="${userDTO.blocked}">
                                        <a th:href="@{/user/{userId}/wallets/{uwId}
                                        (userId=${userDTO.getId()}, uwId=*{getId()})}"
                                           class="text-light btn-link mx-2">
                                            <span class="mr-1"><i class="fas fa-edit"></i></span>Edit</a>
                                        <a th:href="@{/user/{userId}/wallets/{walletId}/manage
                                        (userId=${userDTO.getId()}, walletId=*{getWallet().getId()})}"
                                           class="text-light btn-link mx-2">
                                            <span class="mr-1"><i class="fas fa-user"></i></span>Manage Users</a>
                                        <a th:href="@{/user/{userId}/wallets/{walletId}/remove
                                        (userId=${userDTO.getId()}, walletId=*{getWallet().getId()})}"
                                           class="text-light btn-link mx-2">
                                            <span class="mr-1"><i class="fas fa-minus-circle"></i></span>Remove
                                            Wallet</a>
                                    </div>
                                    <div class="account-card-overlay rounded" th:if="${userDTO.blocked}">
                                        <div class="text-light mx-2">
                                            <span class="mr-1" th:text="#{user.blocked}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 mb-4" th:unless="${userDTO.blocked}">
                                <a href="" data-target="#add-new-bank-account" data-toggle="modal"
                                   class="account-card-new d-flex align-items-center rounded h-100 p-3 mb-4 mb-lg-0">
                                    <p class="w-100 text-center line-height-4 m-0">
                                        <span class="text-3"><i class="fas fa-plus-circle"></i></span>
                                        <span class="d-block text-body text-3">Create new wallet</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row">

                        </div>
                    </div>

                    <!-- Create New Wallet Modal
                    ======================================== -->
                    <div id="add-new-bank-account" class="modal fade" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-400">Create wallet</h5>
                                    <button type="button" class="close font-weight-400" data-dismiss="modal"
                                            aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body p-4">
                                    <form id="createwallet" method="post"
                                          th:action="@{/user/{id}/wallets (id = ${userDTO.getId()})}"
                                          th:object="${newWalletDTO}">

                                        <div class="form-group">
                                            <label for="walletName">Wallet Name</label>
                                            <input type="text" class="form-control" data-bv-field="walletName"
                                                   th:field="*{name}"
                                                   id="walletName" required
                                                   placeholder="Wallet name">
                                        </div>
                                        <div class="form-group">
                                            <input type="number" value="1" lass="form-control"
                                                   data-bv-field="walletType"
                                                   name="walletTypeId"
                                                   id="walletType" hidden
                                                   placeholder="Wallet type">
                                        </div>
                                        <button class="btn btn-primary btn-block" type="submit">Create Wallet
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Bank Accounts End -->

                </div>
                <!-- Middle Panel End -->
            </div>
        </div>
    </div>

    <!-- Content end -->


</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/daterangepicker/moment.min.js"></script>
<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<script>
    $(function () {
        'use strict';
        // Birth Date
        $('#birthDate').daterangepicker({
            singleDatePicker: true,
            "showDropdowns": true,
            autoUpdateInput: false,
            maxDate: moment().add(0, 'days'),
        }, function (chosen_date) {
            $('#birthDate').val(chosen_date.format('MM-DD-YYYY'));
        });
    });
</script>
<script src="/js/theme.js"></script>
</body>
</html>