<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="/images/favicon.png" rel="icon"/>
    <title>Virtual wallet</title>

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i'
          type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    <header th:replace="/fragments/fragments :: header"></header>
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div th:replace="fragments/fragments :: userMenu"></div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">
                <!-- Left Panel
                ============================================= -->
                <aside class="col-lg-3">

                    <!-- Profile Details
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4">
                            <img class="rounded-circle profile-pic" th:src="${userDTO.getImageUrl()}" alt="">
                        </div>
                        <p class="text-3 font-weight-500 mb-2" th:text="#{user.greeting} +  ${userDTO.username}"></p>
                    </div>
                    <!-- Profile Details End -->

                    <!-- Available Balance
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                        <h3 class="text-9 font-weight-400" th:text="${totalBalance} + ' BGN'"></h3>
                        <p class="mb-2 text-muted opacity-8" th:text="#{total.balance}"></p>
                    </div>
                    <!-- Available Balance End -->

                </aside>
                <!-- Left Panel End -->
                <!-- Middle Panel
                ============================================= -->
                <div class="col-lg-9">
                    <h2 class="font-weight-400 text-center mt-3">Confirm adding user</h2>
                    <p class="text-4 text-center mb-4">to wallet "<span th:text="${wallet.getName()}"></span>"</p>
                    <!-- Select User
                    ============================================= -->
                    <div class="col-md-8 col-lg-7 col-xl-7 mx-auto">
                        <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                            <!-- Confirm UserWallet Form
                            ============================================= -->
                            <form id="form-send-money" method="post" th:object="${userWalletDTO}">
                                <div class="form-group">
                                    <label for="wallet">Wallet</label>
                                    <input type="text" class="form-control" id="wallet"
                                           th:value="${wallet.getName()}" readonly>
                                    <input type="hidden" class="form-control" name="walletId"
                                           th:value="${wallet.getId()}">
                                </div>
                                <div class="form-group">
                                    <label for="user">User</label>
                                    <input type="text" class="form-control" id="user"
                                           th:value="${userToAdd.getUsername()}" readonly>
                                    <input type="hidden" class="form-control" name="userId"
                                           th:value="${userToAdd.getUserId()}">
                                </div>
                                <div>
                                    <input type="hidden"
                                           th:field="*{defaultWallet}" th:value="false">
                                    <input type="hidden"
                                           th:field="*{createdByUser}" th:value="false">
                                </div>

                                <hr>
                                <button class="btn btn-primary btn-block" type="submit"
                                        th:action="@{/user/{userId}/wallets/{walletId}/addconfirm (userId=${userDTO.getId()},
                                                walletId=${wallet.getId()})}">Confirm
                                </button>
                            </form>


                            <!-- Confirm UserWallet Form end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content end -->


</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/daterangepicker/moment.min.js"></script>
<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<script>
    $(function () {
        'use strict';
        // Birth Date
        $('#birthDate').daterangepicker({
            singleDatePicker: true,
            "showDropdowns": true,
            autoUpdateInput: false,
            maxDate: moment().add(0, 'days'),
        }, function (chosen_date) {
            $('#birthDate').val(chosen_date.format('MM-DD-YYYY'));
        });
    });
</script>
<script src="/js/theme.js"></script>
</body>
</html>